In [ ]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import datetime as datetime
import calendar

In [ ]:
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 4.6MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
from sklearn.metrics import log_loss 
from category_encoders.target_encoder import TargetEncoder

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, KFold, cross_validate
from sklearn.linear_model import RidgeClassifier, SGDClassifier, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, BaggingClassifier, VotingClassifier, RandomTreesEmbedding
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
from xgboost import XGBClassifier

# DATASET

In [ ]:
df_train = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_test = pd.read_csv('Test_TP2_Datos_2020-2C.csv')

In [ ]:
train = df_train[(df_train.Stage == 'Closed Won') | (df_train.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
train['Stage'] = train['Stage'].map(cambio_binario)
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'])
train['años'] = train['Opportunity_Created_Date'].dt.year
train['meses'] = train['Opportunity_Created_Date'].dt.month
train.sort_values(['años', 'meses'], ascending=True, inplace=True)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

          ID    Region    Territory  ...       Prod_Category_A  años  meses
16104  12714      EMEA       France  ...  Prod_Category_A_None  2013     11
16105  18684      APAC  Philippines  ...  Prod_Category_A_None  2014      3
16106  20675  Americas   NW America  ...  Prod_Category_A_None  2014      3
16107  20682  Americas   NW America  ...  Prod_Category_A_None  2014      3
16108  20513  Americas         None  ...  Prod_Category_A_None  2014      5
...      ...       ...          ...  ...                   ...   ...    ...
16099  22652     Japan        Japan  ...  Prod_Category_A_None  2018     12
16100  20803  Americas   NW America  ...  Prod_Category_A_None  2018     12
16101   5839  Americas   SE America  ...  Prod_Category_A_None  2018     12
16102   5845  Americas   SE America  ...  Prod_Category_A_None  2018     12
16103   5850  Americas   SE America  ...  Prod_Category_A_None  2018     12

[16883 rows x 54 columns]

In [ ]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
train['moneda'] = train['Total_Taxable_Amount_Currency']
train['moneda'] = train['moneda'].map(cambio_binario)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          ID    Region    Territory  ...  años  meses  moneda
16104  12714      EMEA       France  ...  2013     11  1.2100
16105  18684      APAC  Philippines  ...  2014      3  1.0000
16106  20675  Americas   NW America  ...  2014      3  1.0000
16107  20682  Americas   NW America  ...  2014      3  1.0000
16108  20513  Americas         None  ...  2014      5  1.0000
...      ...       ...          ...  ...   ...    ...     ...
16099  22652     Japan        Japan  ...  2018     12  0.0094
16100  20803  Americas   NW America  ...  2018     12  1.0000
16101   5839  Americas   SE America  ...  2018     12  1.0000
16102   5845  Americas   SE America  ...  2018     12  1.0000
16103   5850  Americas   SE America  ...  2018     12  1.0000

[16883 rows x 55 columns]

In [ ]:
train['Amount_converted'] = train['moneda']*train['Total_Taxable_Amount']
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID    Region    Territory  ...  meses  moneda  Amount_converted
16104  12714      EMEA       France  ...     11  1.2100      8.013679e+05
16105  18684      APAC  Philippines  ...      3  1.0000      9.803430e+06
16106  20675  Americas   NW America  ...      3  1.0000      3.418632e+05
16107  20682  Americas   NW America  ...      3  1.0000      3.418632e+05
16108  20513  Americas         None  ...      5  1.0000      3.141078e+07
...      ...       ...          ...  ...    ...     ...               ...
16099  22652     Japan        Japan  ...     12  0.0094      1.007530e+04
16100  20803  Americas   NW America  ...     12  1.0000      3.094416e+05
16101   5839  Americas   SE America  ...     12  1.0000      2.215743e+04
16102   5845  Americas   SE America  ...     12  1.0000      2.215743e+04
16103   5850  Americas   SE America  ...     12  1.0000      2.215743e+04

[16883 rows x 56 columns]

In [ ]:
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'])
train['tiempo_op_abierta']=train['Last_Modified_Date']-train['Opportunity_Created_Date']
train['tiempo_op_abierta']= train['tiempo_op_abierta'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'])
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'])
train['tiempo_entrega']=train['Planned_Delivery_End_Date']-train['Planned_Delivery_Start_Date']
train['tiempo_entrega']= train['tiempo_entrega'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df_ML_train = train[['años', 'meses', 'TRF', 'Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type', 'Stage', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta','tiempo_entrega']]
df_ML_train

       años  meses  TRF  ...      Product_Name tiempo_op_abierta tiempo_entrega
16104  2013     11    2  ...  Product_Name_221              1775            0.0
16105  2014      3   20  ...   Product_Name_98               859           31.0
16106  2014      3    0  ...  Product_Name_310               908           30.0
16107  2014      3    0  ...  Product_Name_310               908           30.0
16108  2014      5    6  ...  Product_Name_287               485           28.0
...     ...    ...  ...  ...               ...               ...            ...
16099  2018     12    0  ...  Product_Name_231                 1            0.0
16100  2018     12    1  ...  Product_Name_220                 0            0.0
16101  2018     12    0  ...  Product_Name_505                 0           89.0
16102  2018     12    0  ...  Product_Name_241                 0           89.0
16103  2018     12    0  ...  Product_Name_322                 0           89.0

[16883 rows x 13 columns]

# ENCODEAR

In [ ]:
cat_cols = df_ML_train.select_dtypes(include='object').columns
cat_cols

Index(['Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type',
       'Product_Family', 'Product_Name'],
      dtype='object')

In [ ]:
df_ML_cat = df_ML_train[cat_cols]
df_ML_cat

         Region Billing_Country  ...      Product_Family      Product_Name
16104      EMEA          France  ...  Product_Family_133  Product_Name_221
16105      APAC         Germany  ...   Product_Family_77   Product_Name_98
16106  Americas   United States  ...  Product_Family_164  Product_Name_310
16107  Americas   United States  ...  Product_Family_164  Product_Name_310
16108  Americas   United States  ...  Product_Family_158  Product_Name_287
...         ...             ...  ...                 ...               ...
16099     Japan           Japan  ...  Product_Family_132  Product_Name_231
16100  Americas   United States  ...  Product_Family_133  Product_Name_220
16101  Americas   United States  ...  Product_Family_240  Product_Name_505
16102  Americas   United States  ...  Product_Family_140  Product_Name_241
16103  Americas   United States  ...  Product_Family_168  Product_Name_322

[16883 rows x 6 columns]

In [ ]:
enc = TargetEncoder(cols=df_ML_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_cat,df_ML_train['Stage'])
df_mean_encoding = pd.DataFrame(enc.transform(df_ML_cat))

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
df_mean_encoding.rename(columns={0:'Region', 1:'Billing_Country', 2:'Opportunity_Owner', 3:'Opportunity_Type',4:'Product_Family',5:'Product_Name'}, inplace=True)
df_mean_encoding

         Region  Billing_Country  ...  Product_Family  Product_Name
0      0.530258         0.280303  ...        0.735789      0.574468
1      0.583205         0.567527  ...        0.488476      0.090909
2      0.455886         0.463061  ...        0.291169      0.551724
3      0.455886         0.463061  ...        0.291169      0.551724
4      0.455886         0.463061  ...        0.303922      0.269231
...         ...              ...  ...             ...           ...
16878  0.682481         0.684308  ...        0.636842      0.748700
16879  0.455886         0.463061  ...        0.735789      0.659306
16880  0.455886         0.463061  ...        0.469388      0.469388
16881  0.455886         0.463061  ...        0.680519      0.752351
16882  0.455886         0.463061  ...        0.500000      0.589286

[16883 rows x 6 columns]

In [ ]:
df_ML_train = pd.concat([df_ML_train.drop(columns=cat_cols), df_mean_encoding], axis=1)
df_ML_train

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2015.0   12.0  10.0  ...          0.533953        0.735789      0.574468
1      2015.0   12.0   0.0  ...          0.211223        0.488476      0.090909
2      2015.0   12.0   0.0  ...          0.533953        0.291169      0.551724
3      2015.0   12.0  14.0  ...          0.533953        0.291169      0.551724
4      2015.0   12.0  25.0  ...          0.211223        0.303922      0.269231
...       ...    ...   ...  ...               ...             ...           ...
16942  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16943  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16944  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16945  2015.0   12.0   4.0  ...               NaN             NaN           NaN
16946  2015.0   12.0  40.0  ...               NaN             NaN           NaN

[16947 rows x 13 columns]

In [ ]:
df_ML_train = df_ML_train.dropna()
df_ML_train

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2015.0   12.0  10.0  ...          0.533953        0.735789      0.574468
1      2015.0   12.0   0.0  ...          0.211223        0.488476      0.090909
2      2015.0   12.0   0.0  ...          0.533953        0.291169      0.551724
3      2015.0   12.0  14.0  ...          0.533953        0.291169      0.551724
4      2015.0   12.0  25.0  ...          0.211223        0.303922      0.269231
...       ...    ...   ...  ...               ...             ...           ...
16878  2015.0   12.0   0.0  ...          0.533953        0.636842      0.748700
16879  2015.0   12.0   0.0  ...          0.684201        0.735789      0.659306
16880  2015.0   12.0   0.0  ...          0.684201        0.469388      0.469388
16881  2015.0   12.0   0.0  ...          0.684201        0.680519      0.752351
16882  2015.0   12.0   0.0  ...          0.684201        0.500000      0.589286

[16744 rows x 13 columns]

# SEPARO TEST Y TRAIN ORDENADO SEGUN FECHA

In [ ]:
df_ML_train.sort_values(['años', 'meses'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_train2=df_ML_train.iloc[0:13395,:]
y_train2=X_train2['Stage']
X_train2=X_train2.drop('Stage',axis=1)
X_train2

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
16104  2013.0   11.0   2.0  ...          0.533953        0.680519      0.752351
16105  2014.0    3.0  20.0  ...          0.533953        0.532520      0.100000
16106  2014.0    3.0   0.0  ...          0.211223        0.377637      0.300000
16107  2014.0    3.0   0.0  ...          0.684201        0.421304      0.611940
16108  2014.0    5.0   6.0  ...          0.684201        0.735789      0.809809
...       ...    ...   ...  ...               ...             ...           ...
11641  2018.0    3.0   0.0  ...          0.533953        0.421304      0.611940
11642  2018.0    3.0   0.0  ...          0.211223        0.551102      0.090909
11643  2018.0    3.0   0.0  ...          0.211223        0.551102      0.090909
11644  2018.0    3.0   0.0  ...          0.533953        0.735789      0.809809
11645  2018.0    3.0   0.0  ...          0.702332        0.551102      0.717647

[13395 rows x 12 columns]

In [ ]:
X_test2=df_ML_train.iloc[13395:16744,:]
y_test2=X_test2['Stage']
X_test2=X_test2.drop('Stage',axis=1)
X_test2

         años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
11646  2018.0    3.0  0.0  ...          0.684201        0.525253      0.711864
11647  2018.0    3.0  0.0  ...          0.533953        0.377637      0.066667
11648  2018.0    3.0  0.0  ...          0.533953        0.738717      0.810811
11649  2018.0    3.0  0.0  ...          0.533953        0.738717      0.810811
11650  2018.0    3.0  0.0  ...          0.533953        0.738717      0.480000
...       ...    ...  ...  ...               ...             ...           ...
16099  2018.0   12.0  0.0  ...          0.533953        0.392086      0.483146
16100  2018.0   12.0  1.0  ...          0.533953        0.377637      0.300000
16101  2018.0   12.0  0.0  ...          0.533953        0.377637      0.603774
16102  2018.0   12.0  0.0  ...          0.533953        0.421304      0.611940
16103  2018.0   12.0  0.0  ...          0.533953        0.680519      0.752351

[3349 rows x 12 columns]

In [ ]:
clfs = []
seed = 3

clfs.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression(n_jobs=-1, random_state=42))])))



clfs.append(("XGBClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("XGB", XGBClassifier(n_estimators=200, n_jobs=-1, 
                                                               random_state=42))]))) 

clfs.append(("GradientBoostingClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("GradientBoosting", GradientBoostingClassifier(n_estimators=200,
                                                                       random_state=42))]))) 

#clfs.append(("RidgeClassifier", 
#            Pipeline([("Scaler", StandardScaler()),
#                       ("RidgeClassifier", RidgeClassifier(random_state=42))])))

clfs.append(("BaggingRidgeClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier(n_jobs=-1, random_state=42))])))

clfs.append(("ExtraTreesClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("ExtraTrees", ExtraTreesClassifier(n_jobs=-1, random_state=42))])))


scoring = 'neg_log_loss'
n_folds = 5

results, names  = [], [] 

for name, model  in clfs:
    kfold = KFold(n_splits=n_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train2, y_train2, 
                                 cv= n_folds, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, -cv_results.mean(),  cv_results.std())
    print(msg)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

LogReg: 0.682626 (+/- 0.149232)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

XGBClassifier: 0.862059 (+/- 0.377252)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

GradientBoostingClassifier: 1.268776 (+/- 0.549594)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

BaggingRidgeClassifier: 9.688362 (+/- 7.402105)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

ExtraTreesClassifier: 2.270364 (+/- 1.236196)

In [ ]:
parametros = {'n_estimators' : [100, 150, 200, 300, 400], 'min_samples_split' : [2,3,4]}

xg = xgb.XGBClassifier()
clf = GridSearchCV(xg, parametros)

In [ ]:
clf.fit(X = X_train2, y = y_train2)

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': [2, 3, 4],
                         'n_estimators': [100, 150, 200, 300, 400]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
clf.cv_results_

{'mean_fit_time': array([0.65068145, 0.96083064, 1.27329612, 1.90963573, 2.53087807,
        0.65092993, 0.93442688, 1.254251  , 1.90880408, 2.50291953,
        0.65646143, 0.93752394, 1.28051829, 1.90830846, 2.53370433]),
 'mean_score_time': array([0.00824828, 0.01187701, 0.01440873, 0.02239494, 0.02856283,
        0.00737944, 0.01167202, 0.01428871, 0.02134452, 0.02861638,
        0.00793581, 0.01167526, 0.0152483 , 0.02276392, 0.03039613]),
 'mean_test_score': array([0.4718925 , 0.46218738, 0.46061963, 0.45531915, 0.45531915,
        0.4718925 , 0.46218738, 0.46061963, 0.45531915, 0.45531915,
        0.4718925 , 0.46218738, 0.46061963, 0.45531915, 0.45531915]),
 'param_min_samples_split': masked_array(data=[2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[100, 150, 200, 300, 400, 100, 150, 200, 300, 400, 100,
                    150, 200, 300, 400],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'min_samples_split': 2, 'n_estimators': 100},
  {'min_samples_split': 2, 'n_estimators': 150},
  {'min_samples_split': 2, 'n_estimators': 200},
  {'min_samples_split': 2, 'n_estimators': 300},
  {'min_samples_split': 2, 'n_estimators': 400},
  {'min_samples_split': 3, 'n_estimators': 100},
  {'min_samples_split': 3, 'n_estimators': 150},
  {'min_samples_split': 3, 'n_estimators': 200},
  {'min_samples_split': 3, 'n_estimators': 300},
  {'min_samples_split': 3, 'n_estimators': 400},
  {'min_samples_split': 4, 'n_estimators': 100},
  {'min_samples_split': 4, 'n_estimators': 150},
  {'min_samples_split': 4, 'n_estimators': 200},
  {'min_samples_split': 4, 'n_estimators': 300},
  {'min_samples_split': 4, 'n_estimators': 400}],
 'rank_test_score': array([ 1,  4,  7, 10, 10,  1,  4,  7, 10, 10,  1,  4,  7, 10, 10],
       dtype=int32),
 'split0_test_score': array([0.42889138, 0.42739828, 0.42254573, 0.4173199 , 0.41769317,
        0.42889138, 0.42739828, 0.42254573, 0.4173199 , 0.41769317,
        0.42889138, 0.42739828, 0.42254573, 0.4173199 , 0.41769317]),
 'split1_test_score': array([0.24337439, 0.2079134 , 0.19783501, 0.17357223, 0.17021277,
        0.24337439, 0.2079134 , 0.19783501, 0.17357223, 0.17021277,
        0.24337439, 0.2079134 , 0.19783501, 0.17357223, 0.17021277]),
 'split2_test_score': array([0.33482643, 0.33109369, 0.34117208, 0.35013065, 0.34527809,
        0.33482643, 0.33109369, 0.34117208, 0.35013065, 0.34527809,
        0.33482643, 0.33109369, 0.34117208, 0.35013065, 0.34527809]),
 'split3_test_score': array([0.64613662, 0.64762971, 0.65173572, 0.64613662, 0.64315043,
        0.64613662, 0.64762971, 0.65173572, 0.64613662, 0.64315043,
        0.64613662, 0.64762971, 0.65173572, 0.64613662, 0.64315043]),
 'split4_test_score': array([0.70623367, 0.69690183, 0.68980963, 0.68943636, 0.70026129,
        0.70623367, 0.69690183, 0.68980963, 0.68943636, 0.70026129,
        0.70623367, 0.69690183, 0.68980963, 0.68943636, 0.70026129]),
 'std_fit_time': array([0.03542781, 0.01214774, 0.01442231, 0.0204739 , 0.02226606,
        0.01552727, 0.03157336, 0.03360056, 0.04038615, 0.08737296,
        0.01040339, 0.0488769 , 0.01024103, 0.02500068, 0.04115434]),
 'std_score_time': array([0.00025426, 0.00034773, 0.00158912, 0.00057349, 0.00295751,
        0.00081219, 0.00047875, 0.00156358, 0.00258383, 0.00394425,
        0.00019795, 0.00031731, 0.00031786, 0.00074263, 0.00103926]),
 'std_test_score': array([0.17783899, 0.18575835, 0.18645456, 0.19136983, 0.19498084,
        0.17783899, 0.18575835, 0.18645456, 0.19136983, 0.19498084,
        0.17783899, 0.18575835, 0.18645456, 0.19136983, 0.19498084])}

In [ ]:
preds3 = clf.predict_proba(X_test2)
error3 = log_loss(y_test2, preds3)
print('error: %f' %(error3))

error: 0.487471

In [ ]:
preds10 = clf.predict_proba(X_train2)
error10 = log_loss(y_train2, preds10)
print('error: %f' %(error10))

error: 0.450387

Test

In [ ]:
df_test

         ID    Region  ... tiempo_op_abierta  tiempo_entrega
116   17805  Americas  ...                 1             0.0
117   20075  Americas  ...                74             0.0
118    7236  Americas  ...                49             0.0
119    7241  Americas  ...                49             0.0
120    7247  Americas  ...                49             0.0
...     ...       ...  ...               ...             ...
2546  16345      EMEA  ...                 0             9.0
2547  15218  Americas  ...                 1            91.0
2548  15224  Americas  ...                 1            91.0
2549   7286  Americas  ...                 0             0.0
2550  11263      EMEA  ...                 0            53.0

[2551 rows x 57 columns]

In [ ]:
df_test['Opportunity_Created_Date'] = pd.to_datetime(df_test['Opportunity_Created_Date'])
df_test['años'] = df_test['Opportunity_Created_Date'].dt.year
df_test['meses'] = df_test['Opportunity_Created_Date'].dt.month
df_test.sort_values(['años', 'meses'], ascending=True, inplace=True)
df_test

         ID    Region  ... tiempo_op_abierta  tiempo_entrega
116   17805  Americas  ...                 1             0.0
117   20075  Americas  ...                74             0.0
118    7236  Americas  ...                49             0.0
119    7241  Americas  ...                49             0.0
120    7247  Americas  ...                49             0.0
...     ...       ...  ...               ...             ...
2546  16345      EMEA  ...                 0             9.0
2547  15218  Americas  ...                 1            91.0
2548  15224  Americas  ...                 1            91.0
2549   7286  Americas  ...                 0             0.0
2550  11263      EMEA  ...                 0            53.0

[2551 rows x 57 columns]

In [ ]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
df_test['moneda'] = df_test['Total_Taxable_Amount_Currency']
df_test['moneda'] = df_test['moneda'].map(cambio_binario)
df_test['Amount_converted'] = df_test['moneda']*df_test['Total_Taxable_Amount']

df_test['Last_Modified_Date'] = pd.to_datetime(df_test['Last_Modified_Date'])
df_test['tiempo_op_abierta']=df_test['Last_Modified_Date']-df_test['Opportunity_Created_Date']
df_test['tiempo_op_abierta']= df_test['tiempo_op_abierta'].dt.days

df_test['Planned_Delivery_Start_Date'] = pd.to_datetime(df_test['Planned_Delivery_Start_Date'])
df_test['Planned_Delivery_End_Date'] = pd.to_datetime(df_test['Planned_Delivery_End_Date'])
df_test['tiempo_entrega']=df_test['Planned_Delivery_End_Date']-df_test['Planned_Delivery_Start_Date']
df_test['tiempo_entrega']= df_test['tiempo_entrega'].dt.days

In [ ]:
df_ML_test = df_test[['años', 'meses', 'TRF', 'Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta', 'tiempo_entrega','Opportunity_ID']]
df_ML_test

      años  meses  TRF  ... tiempo_op_abierta tiempo_entrega Opportunity_ID
116   2019      1    0  ...                 1            0.0          10756
117   2019      1    0  ...                74            0.0          10757
118   2019      1    0  ...                49            0.0          10758
119   2019      1    0  ...                49            0.0          10758
120   2019      1    0  ...                49            0.0          10758
...    ...    ...  ...  ...               ...            ...            ...
2546  2019      4    0  ...                 0            9.0          12364
2547  2019      4    0  ...                 1           91.0          12365
2548  2019      4    0  ...                 1           91.0          12366
2549  2019      4    0  ...                 0            0.0          12367
2550  2019      4    3  ...                 0           53.0          12368

[2551 rows x 13 columns]

In [ ]:
df_ML_test_cat = df_ML_test[cat_cols]
df_ML_test_cat

        Region Billing_Country  ...      Product_Family      Product_Name
116   Americas   United States  ...  Product_Family_168  Product_Name_322
117   Americas   United States  ...  Product_Family_213  Product_Name_447
118   Americas   United States  ...  Product_Family_213  Product_Name_447
119   Americas   United States  ...  Product_Family_162  Product_Name_298
120   Americas   United States  ...  Product_Family_168  Product_Name_322
...        ...             ...  ...                 ...               ...
2546      EMEA    South Africa  ...  Product_Family_213  Product_Name_447
2547  Americas   United States  ...  Product_Family_221  Product_Name_477
2548  Americas   United States  ...  Product_Family_221  Product_Name_477
2549  Americas   United States  ...  Product_Family_156  Product_Name_281
2550      EMEA      Luxembourg  ...  Product_Family_171  Product_Name_331

[2551 rows x 6 columns]

In [ ]:
enc = TargetEncoder(cols=df_ML_test_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_test_cat,df_ML_test['Opportunity_ID'])
df_mean_encoding_test = pd.DataFrame(enc.transform(df_ML_test_cat))
df_mean_encoding_test

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

                 0             1  ...             4             5
0     11583.837598  11579.642285  ...  11565.035806  11598.571429
1     11583.837598  11579.642285  ...  11561.680272  11509.916667
2     11583.837598  11579.642285  ...  11561.680272  11509.916667
3     11583.837598  11579.642285  ...  11528.062500  11546.858333
4     11583.837598  11579.642285  ...  11565.035806  11598.571429
...            ...           ...  ...           ...           ...
2546  11503.219570  12145.074303  ...  11561.680272  11509.916667
2547  11583.837598  11579.642285  ...  11452.991870  11716.344828
2548  11583.837598  11579.642285  ...  11452.991870  11716.344828
2549  11583.837598  11579.642285  ...  11732.142857  11763.892857
2550  11503.219570  11642.300000  ...  11805.852941  11972.910008

[2551 rows x 6 columns]

In [ ]:
df_mean_encoding_test.rename(columns={0:'Region', 1:'Billing_Country', 2:'Opportunity_Owner', 3:'Opportunity_Type',4:'Product_Family',5:'Product_Name'}, inplace=True)
df_mean_encoding_test

            Region  Billing_Country  ...  Product_Family  Product_Name
0     11583.837598     11579.642285  ...    11565.035806  11598.571429
1     11583.837598     11579.642285  ...    11561.680272  11509.916667
2     11583.837598     11579.642285  ...    11561.680272  11509.916667
3     11583.837598     11579.642285  ...    11528.062500  11546.858333
4     11583.837598     11579.642285  ...    11565.035806  11598.571429
...            ...              ...  ...             ...           ...
2546  11503.219570     12145.074303  ...    11561.680272  11509.916667
2547  11583.837598     11579.642285  ...    11452.991870  11716.344828
2548  11583.837598     11579.642285  ...    11452.991870  11716.344828
2549  11583.837598     11579.642285  ...    11732.142857  11763.892857
2550  11503.219570     11642.300000  ...    11805.852941  11972.910008

[2551 rows x 6 columns]

In [ ]:
df_ML_test = pd.concat([df_ML_test.drop(columns=cat_cols), df_mean_encoding_test], axis=1)
df_ML_test

      años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0     2019      4    0  ...      11610.415657    11565.035806  11598.571429
1     2019      4    0  ...      11504.536007    11561.680272  11509.916667
2     2019      4    0  ...      11593.290076    11561.680272  11509.916667
3     2019      4    1  ...      11593.290076    11528.062500  11546.858333
4     2019      4    0  ...      11593.290076    11565.035806  11598.571429
...    ...    ...  ...  ...               ...             ...           ...
2546  2019      4    0  ...      11504.536007    11561.680272  11509.916667
2547  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2548  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2549  2019      4    0  ...      11647.177469    11732.142857  11763.892857
2550  2019      4    3  ...      11504.536007    11805.852941  11972.910008

[2551 rows x 13 columns]

In [ ]:
pred = clf.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
pred

array([[0.53950787, 0.4604921 ],
       [0.53950787, 0.4604921 ],
       [0.53950787, 0.4604921 ],
       ...,
       [0.27401006, 0.72598994],
       [0.17740768, 0.8225923 ],
       [0.9345495 , 0.06545048]], dtype=float32)

In [ ]:
predicciones = pd.Series(pred[:,1])
resultados = pd.concat([df_ML_test['Opportunity_ID'], predicciones], axis=1).rename(columns={0: 'Target'})
resultados.head(10)

   Opportunity_ID    Target
0           10689  0.460492
1           10689  0.460492
2           10689  0.460492
3           10690  0.207068
4           10690  0.462943
5           10690  0.462943
6           10690  0.491613
7           10690  0.491613
8           10691  0.938244
9           10692  0.427696

In [ ]:
res_promedio = resultados.groupby('Opportunity_ID').mean()

In [ ]:
res_promedio.reset_index(inplace=True)
res_promedio

      Opportunity_ID    Target
0              10689  0.460492
1              10690  0.423236
2              10691  0.938244
3              10692  0.427696
4              10693  0.955483
...              ...       ...
1562           12364  0.843841
1563           12365  0.730553
1564           12366  0.725990
1565           12367  0.822592
1566           12368  0.065450

[1567 rows x 2 columns]

In [ ]:
((res_promedio['Opportunity_ID'].value_counts()) > 1).value_counts()

False    1567
Name: Opportunity_ID, dtype: int64

In [ ]:
res_promedio.drop_duplicates(subset='Opportunity_ID', inplace=True)
res_promedio.tail(30)

      Opportunity_ID    Target
1537           12339  0.114678
1538           12340  0.972833
1539           12341  0.974574
1540           12342  0.936903
1541           12343  0.955483
1542           12344  0.921748
1543           12345  0.117063
1544           12346  0.117063
1545           12347  0.118020
1546           12348  0.090555
1547           12349  0.117063
1548           12350  0.090555
1549           12351  0.151600
1550           12352  0.952989
1551           12353  0.751035
1552           12354  0.138361
1553           12355  0.534077
1554           12356  0.604273
1555           12357  0.045229
1556           12358  0.842401
1557           12359  0.182509
1558           12360  0.919352
1559           12361  0.925101
1560           12362  0.662795
1561           12363  0.514150
1562           12364  0.843841
1563           12365  0.730553
1564           12366  0.725990
1565           12367  0.822592
1566           12368  0.065450

In [ ]:
(res_promedio['Target']>0.9).value_counts()

False    1241
True      326
Name: Target, dtype: int64

In [ ]:
res_promedio.to_csv('resultsA.csv', index=False)

SIN OPTIMIZACION

In [ ]:
xg_class = xgb.XGBClassifier(objective ='binary:logistic', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 3, alpha = 10, n_estimators = 100)
xg_class.fit(X_train2,y_train2)

XGBClassifier(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.3, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
preds = xg_class.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
preds

array([[0.23114902, 0.768851  ],
       [0.23114902, 0.768851  ],
       [0.23114902, 0.768851  ],
       ...,
       [0.24950773, 0.7504923 ],
       [0.07925564, 0.92074436],
       [0.7792144 , 0.22078562]], dtype=float32)

In [ ]:
predicciones2 = pd.Series(preds[:,1])
resultados2 = pd.concat([df_ML_test['Opportunity_ID'], predicciones2], axis=1).rename(columns={0: 'Target'})
resultados2.head(10)

   Opportunity_ID    Target
0           10689  0.768851
1           10689  0.768851
2           10689  0.768851
3           10690  0.285246
4           10690  0.467739
5           10690  0.467739
6           10690  0.467739
7           10690  0.467739
8           10691  0.939184
9           10692  0.762457

In [ ]:
res_promedio2 = resultados2.groupby('Opportunity_ID').mean()
res_promedio2.reset_index(inplace=True)

In [ ]:
res_promedio2

      Opportunity_ID    Target
0              10689  0.768851
1              10690  0.431240
2              10691  0.939184
3              10692  0.762457
4              10693  0.937104
...              ...       ...
1562           12364  0.922487
1563           12365  0.822367
1564           12366  0.750492
1565           12367  0.920744
1566           12368  0.220786

[1567 rows x 2 columns]

In [ ]:
((res_promedio2['Opportunity_ID'].value_counts()) > 1).value_counts()

False    1567
Name: Opportunity_ID, dtype: int64

In [ ]:
res_promedio2.drop_duplicates(subset='Opportunity_ID', inplace=True)
res_promedio2

      Opportunity_ID    Target
0              10689  0.768851
1              10690  0.431240
2              10691  0.939184
3              10692  0.762457
4              10693  0.937104
...              ...       ...
1562           12364  0.922487
1563           12365  0.822367
1564           12366  0.750492
1565           12367  0.920744
1566           12368  0.220786

[1567 rows x 2 columns]

In [ ]:
(res_promedio2['Target']>0.9).value_counts()

False    1140
True      427
Name: Target, dtype: int64

In [ ]:
res_promedio2.to_csv('resultss.csv', index=False)

In [ ]:
preds5 = xg_class.predict_proba(X_test2)
error5 = log_loss(y_test2, preds5)
print('error: %f' %(error5))

error: 0.473516

In [ ]:
preds5 = xg_class.predict_proba(X_train2)
error5 = log_loss(y_train2, preds5)
print('error: %f' %(error5))

error: 0.479052

In [ ]:
df_train

          ID    Region  ...        Stage       Prod_Category_A
0      27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1      27760      EMEA  ...   Closed Won  Prod_Category_A_None
2      27446  Americas  ...   Closed Won  Prod_Category_A_None
3      16808  Americas  ...  Closed Lost  Prod_Category_A_None
4      16805  Americas  ...  Closed Lost  Prod_Category_A_None
...      ...       ...  ...          ...                   ...
16942   8781      EMEA  ...   Closed Won  Prod_Category_A_None
16943   8786      EMEA  ...   Closed Won  Prod_Category_A_None
16944   8792      EMEA  ...   Closed Won  Prod_Category_A_None
16945  28561  Americas  ...  Closed Lost  Prod_Category_A_None
16946  28318  Americas  ...  Closed Lost  Prod_Category_A_None

[16947 rows x 52 columns]

In [ ]:
df_train2 = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_train2 = df_train2[(df_train2.Stage == 'Closed Won') | (df_train2.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
df_train2['Stage'] = df_train2['Stage'].map(cambio_binario)
df_train2

          ID    Region  ... Stage       Prod_Category_A
0      27761      EMEA  ...     0  Prod_Category_A_None
1      27760      EMEA  ...     1  Prod_Category_A_None
2      27446  Americas  ...     1  Prod_Category_A_None
3      16808  Americas  ...     0  Prod_Category_A_None
4      16805  Americas  ...     0  Prod_Category_A_None
...      ...       ...  ...   ...                   ...
16942   8781      EMEA  ...     1  Prod_Category_A_None
16943   8786      EMEA  ...     1  Prod_Category_A_None
16944   8792      EMEA  ...     1  Prod_Category_A_None
16945  28561  Americas  ...     0  Prod_Category_A_None
16946  28318  Americas  ...     0  Prod_Category_A_None

[16883 rows x 52 columns]

In [ ]:
dt=df_train2.groupby('Opportunity_ID').agg({'Pricing, Delivery_Terms_Quote_Appr':'max', 'Pricing, Delivery_Terms_Approved':'max','Stage':'max'})
dt

                Pricing, Delivery_Terms_Quote_Appr  ...  Stage
Opportunity_ID                                      ...
0                                                1  ...      0
1                                                0  ...      1
2                                                0  ...      1
3                                                1  ...      0
4                                                1  ...      0
...                                            ...  ...    ...
12799                                            1  ...      1
12800                                            1  ...      0
12801                                            1  ...      1
12802                                            1  ...      0
12803                                            1  ...      0

[9791 rows x 3 columns]

In [ ]:
bc=df_train2.groupby('Opportunity_ID').agg({'Bureaucratic_Code_0_Approval':'max', 'Bureaucratic_Code_0_Approved':'max','Stage':'max'})
bc

                Bureaucratic_Code_0_Approval  ...  Stage
Opportunity_ID                                ...
0                                          1  ...      0
1                                          0  ...      1
2                                          0  ...      1
3                                          1  ...      0
4                                          1  ...      0
...                                      ...  ...    ...
12799                                      0  ...      1
12800                                      0  ...      0
12801                                      1  ...      1
12802                                      1  ...      0
12803                                      1  ...      0

[9791 rows x 3 columns]

In [ ]:
(df_train['Submitted_for_Approval']==0).value_counts()

True    16947
Name: Submitted_for_Approval, dtype: int64

BIEN

In [ ]:
X_train = df_ML_train.drop('Stage',axis=1)
Y_train = df_ML_train['Stage']

In [ ]:
clfs = []
seed = 3

clfs.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression(n_jobs=-1, random_state=42))])))



clfs.append(("XGBClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("XGB", XGBClassifier(n_estimators=200, n_jobs=-1, 
                                                               random_state=42))]))) 

clfs.append(("GradientBoostingClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("GradientBoosting", GradientBoostingClassifier(n_estimators=200,
                                                                       random_state=42))]))) 

#clfs.append(("RidgeClassifier", 
#            Pipeline([("Scaler", StandardScaler()),
#                       ("RidgeClassifier", RidgeClassifier(random_state=42))])))

clfs.append(("BaggingRidgeClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier(n_jobs=-1, random_state=42))])))

clfs.append(("ExtraTreesClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("ExtraTrees", ExtraTreesClassifier(n_jobs=-1, random_state=42))])))


scoring = 'neg_log_loss'
n_folds = 5

results, names  = [], [] 

for name, model  in clfs:
    kfold = KFold(n_splits=n_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train, Y_train, 
                                 cv= n_folds, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, -cv_results.mean(),  cv_results.std())
    print(msg)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

LogReg: 0.659743 (+/- 0.090407)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

XGBClassifier: 1.094953 (+/- 0.392042)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

GradientBoostingClassifier: 1.287373 (+/- 0.432543)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

BaggingRidgeClassifier: 10.563926 (+/- 6.927978)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

ExtraTreesClassifier: 2.412009 (+/- 1.213118)

In [ ]:
parametros = {'n_estimators' : [100, 150, 200, 300, 400], 'min_samples_split' : [2,3,4]}

xg = xgb.XGBClassifier()
clf = GridSearchCV(xg, parametros)

In [ ]:
clf.fit(X = X_train, y = Y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': [2, 3, 4],
                         'n_estimators': [100, 150, 200, 300, 400]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
pred = clf.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
predicciones = pd.Series(pred[:,1])
resultados = pd.concat([df_ML_test['Opportunity_ID'], predicciones], axis=1).rename(columns={0: 'Target'})
resultados.head(10)

   Opportunity_ID    Target
0           10689  0.825180
1           10689  0.825180
2           10689  0.825180
3           10690  0.371648
4           10690  0.645542
5           10690  0.645542
6           10690  0.645542
7           10690  0.645542
8           10691  0.951711
9           10692  0.764416

In [ ]:
res_promedio = resultados.groupby('Opportunity_ID').mean()
res_promedio.reset_index(inplace=True)
res_promedio.tail(30)

      Opportunity_ID    Target
1537           12339  0.261857
1538           12340  0.992194
1539           12341  0.984977
1540           12342  0.985344
1541           12343  0.969866
1542           12344  0.964430
1543           12345  0.331652
1544           12346  0.331652
1545           12347  0.341218
1546           12348  0.286185
1547           12349  0.331652
1548           12350  0.286185
1549           12351  0.375693
1550           12352  0.985813
1551           12353  0.911371
1552           12354  0.397344
1553           12355  0.803460
1554           12356  0.884336
1555           12357  0.034352
1556           12358  0.921372
1557           12359  0.402452
1558           12360  0.958674
1559           12361  0.964651
1560           12362  0.845641
1561           12363  0.733001
1562           12364  0.932955
1563           12365  0.919129
1564           12366  0.893530
1565           12367  0.930864
1566           12368  0.125181

In [ ]:
(res_promedio['Target']>0.9).value_counts()

False    1083
True      484
Name: Target, dtype: int64