In [ ]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import datetime as datetime
import calendar

In [ ]:
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.3MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
from sklearn.metrics import log_loss 
from category_encoders.target_encoder import TargetEncoder

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, KFold, cross_validate
from sklearn.linear_model import RidgeClassifier, SGDClassifier, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, BaggingClassifier, VotingClassifier, RandomTreesEmbedding
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
from xgboost import XGBClassifier

# DATASET

In [ ]:
df_train = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_test = pd.read_csv('Test_TP2_Datos_2020-2C.csv')

In [ ]:
train = df_train[(df_train.Stage == 'Closed Won') | (df_train.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
train['Stage'] = train['Stage'].map(cambio_binario)
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'])
train['años'] = train['Opportunity_Created_Date'].dt.year
train['meses'] = train['Opportunity_Created_Date'].dt.month
train.sort_values(['años', 'meses'], ascending=True, inplace=True)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

          ID    Region    Territory  ...       Prod_Category_A  años  meses
16104  12714      EMEA       France  ...  Prod_Category_A_None  2013     11
16105  18684      APAC  Philippines  ...  Prod_Category_A_None  2014      3
16106  20675  Americas   NW America  ...  Prod_Category_A_None  2014      3
16107  20682  Americas   NW America  ...  Prod_Category_A_None  2014      3
16108  20513  Americas         None  ...  Prod_Category_A_None  2014      5
...      ...       ...          ...  ...                   ...   ...    ...
16099  22652     Japan        Japan  ...  Prod_Category_A_None  2018     12
16100  20803  Americas   NW America  ...  Prod_Category_A_None  2018     12
16101   5839  Americas   SE America  ...  Prod_Category_A_None  2018     12
16102   5845  Americas   SE America  ...  Prod_Category_A_None  2018     12
16103   5850  Americas   SE America  ...  Prod_Category_A_None  2018     12

[16883 rows x 54 columns]

In [ ]:
train['place']= train['Region']+ '-' + train['Billing_Country']
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID    Region    Territory  ...  años  meses                   place
16104  12714      EMEA       France  ...  2013     11             EMEA-France
16105  18684      APAC  Philippines  ...  2014      3            APAC-Germany
16106  20675  Americas   NW America  ...  2014      3  Americas-United States
16107  20682  Americas   NW America  ...  2014      3  Americas-United States
16108  20513  Americas         None  ...  2014      5  Americas-United States
...      ...       ...          ...  ...   ...    ...                     ...
16099  22652     Japan        Japan  ...  2018     12             Japan-Japan
16100  20803  Americas   NW America  ...  2018     12  Americas-United States
16101   5839  Americas   SE America  ...  2018     12  Americas-United States
16102   5845  Americas   SE America  ...  2018     12  Americas-United States
16103   5850  Americas   SE America  ...  2018     12  Americas-United States

[16883 rows x 55 columns]

In [ ]:
train.tail(20)

          ID    Region       Territory  ...  años  meses                   place
16065  20950  Americas      NW America  ...  2018     12  Americas-United States
16070  27719     Japan           Japan  ...  2018     12             Japan-Japan
16071  23869      EMEA         Germany  ...  2018     12            EMEA-Germany
16072  19716      EMEA  United Kingdom  ...  2018     12     EMEA-United Kingdom
16073  15707      EMEA         Germany  ...  2018     12            EMEA-Germany
16075  17577      EMEA         Germany  ...  2018     12            EMEA-Germany
16076  20350  Americas      NW America  ...  2018     12  Americas-United States
16077  20370  Americas      NW America  ...  2018     12  Americas-United States
16078  20373  Americas      NW America  ...  2018     12  Americas-United States
16090  21413     Japan           Japan  ...  2018     12             Japan-Japan
16091  21406     Japan           Japan  ...  2018     12             Japan-Japan
16092  21409     Japan           Japan  ...  2018     12             Japan-Japan
16095  11012  Americas      NW America  ...  2018     12  Americas-United States
16096  11017  Americas      NW America  ...  2018     12  Americas-United States
16097   8857      APAC           India  ...  2018     12              APAC-India
16099  22652     Japan           Japan  ...  2018     12             Japan-Japan
16100  20803  Americas      NW America  ...  2018     12  Americas-United States
16101   5839  Americas      SE America  ...  2018     12  Americas-United States
16102   5845  Americas      SE America  ...  2018     12  Americas-United States
16103   5850  Americas      SE America  ...  2018     12  Americas-United States

[20 rows x 55 columns]

In [ ]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
train['moneda'] = train['Total_Taxable_Amount_Currency']
train['moneda'] = train['moneda'].map(cambio_binario)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          ID    Region    Territory  ...  meses                   place  moneda
16104  12714      EMEA       France  ...     11             EMEA-France  1.2100
16105  18684      APAC  Philippines  ...      3            APAC-Germany  1.0000
16106  20675  Americas   NW America  ...      3  Americas-United States  1.0000
16107  20682  Americas   NW America  ...      3  Americas-United States  1.0000
16108  20513  Americas         None  ...      5  Americas-United States  1.0000
...      ...       ...          ...  ...    ...                     ...     ...
16099  22652     Japan        Japan  ...     12             Japan-Japan  0.0094
16100  20803  Americas   NW America  ...     12  Americas-United States  1.0000
16101   5839  Americas   SE America  ...     12  Americas-United States  1.0000
16102   5845  Americas   SE America  ...     12  Americas-United States  1.0000
16103   5850  Americas   SE America  ...     12  Americas-United States  1.0000

[16883 rows x 56 columns]

In [ ]:
train['Amount_converted'] = train['moneda']*train['Total_Taxable_Amount']
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID    Region  ...  moneda  Amount_converted
16104  12714      EMEA  ...  1.2100      8.013679e+05
16105  18684      APAC  ...  1.0000      9.803430e+06
16106  20675  Americas  ...  1.0000      3.418632e+05
16107  20682  Americas  ...  1.0000      3.418632e+05
16108  20513  Americas  ...  1.0000      3.141078e+07
...      ...       ...  ...     ...               ...
16099  22652     Japan  ...  0.0094      1.007530e+04
16100  20803  Americas  ...  1.0000      3.094416e+05
16101   5839  Americas  ...  1.0000      2.215743e+04
16102   5845  Americas  ...  1.0000      2.215743e+04
16103   5850  Americas  ...  1.0000      2.215743e+04

[16883 rows x 57 columns]

In [ ]:
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'])
train['tiempo_op_abierta']=train['Last_Modified_Date']-train['Opportunity_Created_Date']
train['tiempo_op_abierta']= train['tiempo_op_abierta'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'])
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'])
train['tiempo_entrega']=train['Planned_Delivery_End_Date']-train['Planned_Delivery_Start_Date']
train['tiempo_entrega']= train['tiempo_entrega'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
train['balance_terminos'] = (1+train['Pricing, Delivery_Terms_Quote_Appr'] + 1+train['Pricing, Delivery_Terms_Approved']) * (1+train['Bureaucratic_Code_0_Approval']+1+train['Bureaucratic_Code_0_Approved'])
cambio = {4 : 1, 8 : 2, 16: 3, 6: 4, 12: 5, 9: 6}
train['balance_terminos'] = train['balance_terminos'].map(cambio)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          ID    Region  ... tiempo_entrega  balance_terminos
16104  12714      EMEA  ...            0.0                 1
16105  18684      APAC  ...           31.0                 3
16106  20675  Americas  ...           30.0                 6
16107  20682  Americas  ...           30.0                 6
16108  20513  Americas  ...           28.0                 6
...      ...       ...  ...            ...               ...
16099  22652     Japan  ...            0.0                 2
16100  20803  Americas  ...            0.0                 3
16101   5839  Americas  ...           89.0                 1
16102   5845  Americas  ...           89.0                 1
16103   5850  Americas  ...           89.0                 1

[16883 rows x 60 columns]

In [ ]:
df_ML_train = train[['años', 'meses', 'TRF', 'place', 'Opportunity_Owner', 'Opportunity_Type', 'Stage', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta','tiempo_entrega', 'balance_terminos']]
df_ML_train

       años  meses  TRF  ... tiempo_op_abierta tiempo_entrega balance_terminos
16104  2013     11    2  ...              1775            0.0                1
16105  2014      3   20  ...               859           31.0                3
16106  2014      3    0  ...               908           30.0                6
16107  2014      3    0  ...               908           30.0                6
16108  2014      5    6  ...               485           28.0                6
...     ...    ...  ...  ...               ...            ...              ...
16099  2018     12    0  ...                 1            0.0                2
16100  2018     12    1  ...                 0            0.0                3
16101  2018     12    0  ...                 0           89.0                1
16102  2018     12    0  ...                 0           89.0                1
16103  2018     12    0  ...                 0           89.0                1

[16883 rows x 13 columns]

# ENCODEAR

In [ ]:
cat_cols = df_ML_train.select_dtypes(include='object').columns
cat_cols

Index(['place', 'Opportunity_Owner', 'Opportunity_Type', 'Product_Family',
       'Product_Name'],
      dtype='object')

In [ ]:
df_ML_cat = df_ML_train[cat_cols]
df_ML_cat

                        place  ...      Product_Name
16104             EMEA-France  ...  Product_Name_221
16105            APAC-Germany  ...   Product_Name_98
16106  Americas-United States  ...  Product_Name_310
16107  Americas-United States  ...  Product_Name_310
16108  Americas-United States  ...  Product_Name_287
...                       ...  ...               ...
16099             Japan-Japan  ...  Product_Name_231
16100  Americas-United States  ...  Product_Name_220
16101  Americas-United States  ...  Product_Name_505
16102  Americas-United States  ...  Product_Name_241
16103  Americas-United States  ...  Product_Name_322

[16883 rows x 5 columns]

In [ ]:
enc = TargetEncoder(cols=df_ML_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_cat,df_ML_train['Stage'])
df_mean_encoding = pd.DataFrame(enc.transform(df_ML_cat))

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
df_mean_encoding.rename(columns={0:'place', 1:'Opportunity_Owner', 2:'Opportunity_Type',3:'Product_Family',4:'Product_Name'}, inplace=True)
df_mean_encoding

          place  Opportunity_Owner  ...  Product_Family  Product_Name
0      0.282443           0.286996  ...        0.735789      0.574468
1      0.083341           0.471533  ...        0.488476      0.090909
2      0.464248           0.587201  ...        0.291169      0.551724
3      0.464248           0.587201  ...        0.291169      0.551724
4      0.464248           0.304348  ...        0.303922      0.269231
...         ...                ...  ...             ...           ...
16878  0.684189           0.783942  ...        0.636842      0.748700
16879  0.464248           0.587201  ...        0.735789      0.659306
16880  0.464248           0.348000  ...        0.469388      0.469388
16881  0.464248           0.348000  ...        0.680519      0.752351
16882  0.464248           0.348000  ...        0.500000      0.589286

[16883 rows x 5 columns]

In [ ]:
df_ML_train = pd.concat([df_ML_train.drop(columns=cat_cols), df_mean_encoding], axis=1)
df_ML_train

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2015.0   12.0  10.0  ...          0.533953        0.735789      0.574468
1      2015.0   12.0   0.0  ...          0.211223        0.488476      0.090909
2      2015.0   12.0   0.0  ...          0.533953        0.291169      0.551724
3      2015.0   12.0  14.0  ...          0.533953        0.291169      0.551724
4      2015.0   12.0  25.0  ...          0.211223        0.303922      0.269231
...       ...    ...   ...  ...               ...             ...           ...
16942  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16943  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16944  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16945  2015.0   12.0   4.0  ...               NaN             NaN           NaN
16946  2015.0   12.0  40.0  ...               NaN             NaN           NaN

[16947 rows x 13 columns]

In [ ]:
df_ML_train = df_ML_train.dropna()
df_ML_train

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2015.0   12.0  10.0  ...          0.533953        0.735789      0.574468
1      2015.0   12.0   0.0  ...          0.211223        0.488476      0.090909
2      2015.0   12.0   0.0  ...          0.533953        0.291169      0.551724
3      2015.0   12.0  14.0  ...          0.533953        0.291169      0.551724
4      2015.0   12.0  25.0  ...          0.211223        0.303922      0.269231
...       ...    ...   ...  ...               ...             ...           ...
16878  2015.0   12.0   0.0  ...          0.533953        0.636842      0.748700
16879  2015.0   12.0   0.0  ...          0.684201        0.735789      0.659306
16880  2015.0   12.0   0.0  ...          0.684201        0.469388      0.469388
16881  2015.0   12.0   0.0  ...          0.684201        0.680519      0.752351
16882  2015.0   12.0   0.0  ...          0.684201        0.500000      0.589286

[16744 rows x 13 columns]

# SEPARO TEST Y TRAIN ORDENADO SEGUN FECHA

In [ ]:
df_ML_train.sort_values(['años', 'meses'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_train2=df_ML_train.iloc[0:13395,:]
y_train2=X_train2['Stage']
X_train2=X_train2.drop('Stage',axis=1)
X_train2

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
16104  2013.0   11.0   2.0  ...          0.533953        0.680519      0.752351
16105  2014.0    3.0  20.0  ...          0.533953        0.532520      0.100000
16106  2014.0    3.0   0.0  ...          0.211223        0.377637      0.300000
16107  2014.0    3.0   0.0  ...          0.684201        0.421304      0.611940
16108  2014.0    5.0   6.0  ...          0.684201        0.735789      0.809809
...       ...    ...   ...  ...               ...             ...           ...
11641  2018.0    3.0   0.0  ...          0.533953        0.421304      0.611940
11642  2018.0    3.0   0.0  ...          0.211223        0.551102      0.090909
11643  2018.0    3.0   0.0  ...          0.211223        0.551102      0.090909
11644  2018.0    3.0   0.0  ...          0.533953        0.735789      0.809809
11645  2018.0    3.0   0.0  ...          0.702332        0.551102      0.717647

[13395 rows x 12 columns]

In [ ]:
X_train2.head(20)

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
16104  2013.0   11.0   2.0  ...          0.533953        0.680519      0.752351
16105  2014.0    3.0  20.0  ...          0.533953        0.532520      0.100000
16106  2014.0    3.0   0.0  ...          0.211223        0.377637      0.300000
16107  2014.0    3.0   0.0  ...          0.684201        0.421304      0.611940
16108  2014.0    5.0   6.0  ...          0.684201        0.735789      0.809809
16109  2014.0    5.0   3.0  ...          0.684201        0.500000      0.589286
16110  2014.0    5.0   0.0  ...          0.684201        0.948718      0.948718
16111  2014.0    6.0   3.0  ...          0.684201        0.972973      0.972973
16112  2014.0    6.0  14.0  ...          0.684201        0.979167      0.979167
16113  2014.0    7.0   2.0  ...          0.684201        0.647679      0.647679
16114  2014.0    7.0   5.0  ...          0.684201        0.669847      0.669847
16115  2014.0    8.0   1.0  ...          0.684201        0.988024      0.988024
16116  2014.0    8.0   2.0  ...          0.533953        0.928571      0.928571
16117  2014.0    9.0   1.0  ...          0.533953        0.568792      0.719072
16118  2014.0    9.0   2.0  ...          0.702332        0.500000      0.589286
16119  2014.0    9.0   2.0  ...          0.333333        0.699541      0.350000
16120  2014.0    9.0   1.0  ...          0.333333        0.500000      0.333337
16121  2014.0    9.0   1.0  ...          0.347826        0.500000      0.589286
16122  2014.0    9.0   0.0  ...          0.347826        0.699541      0.553398
16123  2014.0    9.0  20.0  ...          0.533953        0.347368      0.577778

[20 rows x 12 columns]

In [ ]:
X_test2=df_ML_train.iloc[13395:16744,:]
y_test2=X_test2['Stage']
X_test2=X_test2.drop('Stage',axis=1)
X_test2

         años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
11646  2018.0    3.0  0.0  ...          0.684201        0.525253      0.711864
11647  2018.0    3.0  0.0  ...          0.533953        0.377637      0.066667
11648  2018.0    3.0  0.0  ...          0.533953        0.738717      0.810811
11649  2018.0    3.0  0.0  ...          0.533953        0.738717      0.810811
11650  2018.0    3.0  0.0  ...          0.533953        0.738717      0.480000
...       ...    ...  ...  ...               ...             ...           ...
16099  2018.0   12.0  0.0  ...          0.533953        0.392086      0.483146
16100  2018.0   12.0  1.0  ...          0.533953        0.377637      0.300000
16101  2018.0   12.0  0.0  ...          0.533953        0.377637      0.603774
16102  2018.0   12.0  0.0  ...          0.533953        0.421304      0.611940
16103  2018.0   12.0  0.0  ...          0.533953        0.680519      0.752351

[3349 rows x 12 columns]

In [ ]:
clfs = []
seed = 3

clfs.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression(n_jobs=-1, random_state=42))])))



clfs.append(("XGBClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("XGB", XGBClassifier(n_estimators=200, n_jobs=-1, 
                                                               random_state=42))]))) 

clfs.append(("GradientBoostingClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("GradientBoosting", GradientBoostingClassifier(n_estimators=200,
                                                                       random_state=42))]))) 

#clfs.append(("RidgeClassifier", 
#            Pipeline([("Scaler", StandardScaler()),
#                       ("RidgeClassifier", RidgeClassifier(random_state=42))])))

clfs.append(("BaggingRidgeClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier(n_jobs=-1, random_state=42))])))

clfs.append(("ExtraTreesClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("ExtraTrees", ExtraTreesClassifier(n_jobs=-1, random_state=42))])))


scoring = 'neg_log_loss'
n_folds = 5

results, names  = [], [] 

for name, model  in clfs:
    kfold = KFold(n_splits=n_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train2, y_train2, 
                                 cv= n_folds, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, -cv_results.mean(),  cv_results.std())
    print(msg)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

LogReg: 0.640265 (+/- 0.119025)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

XGBClassifier: 0.718148 (+/- 0.241522)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

GradientBoostingClassifier: 1.020320 (+/- 0.292374)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

BaggingRidgeClassifier: 5.128555 (+/- 2.896009)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

ExtraTreesClassifier: 1.248999 (+/- 0.386767)

In [ ]:
parametros = {'n_estimators' : [100, 150, 200, 300, 400], 'min_samples_split' : [2,3,4]}

xg = xgb.XGBClassifier()
clf = GridSearchCV(xg, parametros)

In [ ]:
clf.fit(X = X_train2, y = y_train2)

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': [2, 3, 4],
                         'n_estimators': [100, 150, 200, 300, 400]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
clf.cv_results_

{'mean_fit_time': array([0.58103714, 0.85305037, 1.13714938, 1.68545294, 2.21958394,
        0.57590566, 0.84428515, 1.1180541 , 1.67153006, 2.25092268,
        0.58383584, 0.85755672, 1.20751476, 1.73100662, 2.22219911]),
 'mean_score_time': array([0.01099124, 0.01577983, 0.02027512, 0.02872448, 0.03783436,
        0.01092334, 0.01560555, 0.02043543, 0.02984362, 0.03780646,
        0.01107025, 0.01587329, 0.02146258, 0.02947383, 0.03785443]),
 'mean_test_score': array([0.56842105, 0.53945502, 0.52571855, 0.50720418, 0.5035461 ,
        0.56842105, 0.53945502, 0.52571855, 0.50720418, 0.5035461 ,
        0.56842105, 0.53945502, 0.52571855, 0.50720418, 0.5035461 ]),
 'param_min_samples_split': masked_array(data=[2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[100, 150, 200, 300, 400, 100, 150, 200, 300, 400, 100,
                    150, 200, 300, 400],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'min_samples_split': 2, 'n_estimators': 100},
  {'min_samples_split': 2, 'n_estimators': 150},
  {'min_samples_split': 2, 'n_estimators': 200},
  {'min_samples_split': 2, 'n_estimators': 300},
  {'min_samples_split': 2, 'n_estimators': 400},
  {'min_samples_split': 3, 'n_estimators': 100},
  {'min_samples_split': 3, 'n_estimators': 150},
  {'min_samples_split': 3, 'n_estimators': 200},
  {'min_samples_split': 3, 'n_estimators': 300},
  {'min_samples_split': 3, 'n_estimators': 400},
  {'min_samples_split': 4, 'n_estimators': 100},
  {'min_samples_split': 4, 'n_estimators': 150},
  {'min_samples_split': 4, 'n_estimators': 200},
  {'min_samples_split': 4, 'n_estimators': 300},
  {'min_samples_split': 4, 'n_estimators': 400}],
 'rank_test_score': array([ 1,  4,  7, 10, 13,  1,  4,  7, 10, 13,  1,  4,  7, 10, 13],
       dtype=int32),
 'split0_test_score': array([0.61440836, 0.55841732, 0.5431131 , 0.5360209 , 0.53826054,
        0.61440836, 0.55841732, 0.5431131 , 0.5360209 , 0.53826054,
        0.61440836, 0.55841732, 0.5431131 , 0.5360209 , 0.53826054]),
 'split1_test_score': array([0.43486376, 0.38447182, 0.34490482, 0.28107503, 0.27248973,
        0.43486376, 0.38447182, 0.34490482, 0.28107503, 0.27248973,
        0.43486376, 0.38447182, 0.34490482, 0.28107503, 0.27248973]),
 'split2_test_score': array([0.47368421, 0.44680851, 0.4285181 , 0.39343038, 0.38372527,
        0.47368421, 0.44680851, 0.4285181 , 0.39343038, 0.38372527,
        0.47368421, 0.44680851, 0.4285181 , 0.39343038, 0.38372527]),
 'split3_test_score': array([0.62672639, 0.62597984, 0.62672639, 0.63531168, 0.63605823,
        0.62672639, 0.62597984, 0.62672639, 0.63531168, 0.63605823,
        0.62672639, 0.62597984, 0.62672639, 0.63531168, 0.63605823]),
 'split4_test_score': array([0.69242255, 0.68159761, 0.68533035, 0.6901829 , 0.68719672,
        0.69242255, 0.68159761, 0.68533035, 0.6901829 , 0.68719672,
        0.69242255, 0.68159761, 0.68533035, 0.6901829 , 0.68719672]),
 'std_fit_time': array([0.01055492, 0.00676178, 0.01023474, 0.01727764, 0.0150701 ,
        0.00268717, 0.00399458, 0.00299039, 0.01331079, 0.03606211,
        0.00433907, 0.00358443, 0.03858199, 0.04416132, 0.00527221]),
 'std_score_time': array([0.00032235, 0.00060871, 0.0007019 , 0.00167771, 0.00275368,
        0.00062216, 0.00078556, 0.00099852, 0.00223038, 0.00234566,
        0.00041046, 0.00035705, 0.00160946, 0.00102451, 0.00201786]),
 'std_test_score': array([0.09767634, 0.11013973, 0.12499809, 0.15152691, 0.15507171,
        0.09767634, 0.11013973, 0.12499809, 0.15152691, 0.15507171,
        0.09767634, 0.11013973, 0.12499809, 0.15152691, 0.15507171])}

In [ ]:
preds3 = clf.predict_proba(X_test2)
error3 = log_loss(y_test2, preds3)
print('error: %f' %(error3))

error: 0.473176

In [ ]:
preds10 = clf.predict_proba(X_train2)
error10 = log_loss(y_train2, preds10)
print('error: %f' %(error10))

error: 0.381245

Test

In [ ]:
df_test

         ID    Region  ... Total_Taxable_Amount       Prod_Category_A
0      6140      EMEA  ...             367419.0  Prod_Category_A_None
1      6146      EMEA  ...             367419.0  Prod_Category_A_None
2      6151      EMEA  ...             367419.0  Prod_Category_A_None
3      6118      EMEA  ...             757783.5  Prod_Category_A_None
4      6124      EMEA  ...             757783.5  Prod_Category_A_None
...     ...       ...  ...                  ...                   ...
2546  16345      EMEA  ...             147750.0  Prod_Category_A_None
2547  15218  Americas  ...              45054.9  Prod_Category_A_None
2548  15224  Americas  ...             100122.0  Prod_Category_A_None
2549   7286  Americas  ...             143220.0  Prod_Category_A_None
2550  11263      EMEA  ...             871020.8  Prod_Category_A_None

[2551 rows x 51 columns]

In [ ]:
df_test['Opportunity_Created_Date'] = pd.to_datetime(df_test['Opportunity_Created_Date'])
df_test['años'] = df_test['Opportunity_Created_Date'].dt.year
df_test['meses'] = df_test['Opportunity_Created_Date'].dt.month
df_test.sort_values(['años', 'meses'], ascending=True, inplace=True)
df_test

         ID    Region   Territory  ...       Prod_Category_A  años  meses
116   17805  Americas  NW America  ...  Prod_Category_A_None  2019      1
117   20075  Americas  NE America  ...  Prod_Category_A_None  2019      1
118    7236  Americas  NE America  ...  Prod_Category_A_None  2019      1
119    7241  Americas  NE America  ...  Prod_Category_A_None  2019      1
120    7247  Americas  NE America  ...  Prod_Category_A_None  2019      1
...     ...       ...         ...  ...                   ...   ...    ...
2546  16345      EMEA         KSA  ...  Prod_Category_A_None  2019      4
2547  15218  Americas  SE America  ...  Prod_Category_A_None  2019      4
2548  15224  Americas  SE America  ...  Prod_Category_A_None  2019      4
2549   7286  Americas  NE America  ...  Prod_Category_A_None  2019      4
2550  11263      EMEA     Belgium  ...  Prod_Category_A_None  2019      4

[2551 rows x 53 columns]

In [ ]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
df_test['moneda'] = df_test['Total_Taxable_Amount_Currency']
df_test['moneda'] = df_test['moneda'].map(cambio_binario)
df_test['Amount_converted'] = df_test['moneda']*df_test['Total_Taxable_Amount']

df_test['Last_Modified_Date'] = pd.to_datetime(df_test['Last_Modified_Date'])
df_test['tiempo_op_abierta']=df_test['Last_Modified_Date']-df_test['Opportunity_Created_Date']
df_test['tiempo_op_abierta']= df_test['tiempo_op_abierta'].dt.days

df_test['Planned_Delivery_Start_Date'] = pd.to_datetime(df_test['Planned_Delivery_Start_Date'])
df_test['Planned_Delivery_End_Date'] = pd.to_datetime(df_test['Planned_Delivery_End_Date'])
df_test['tiempo_entrega']=df_test['Planned_Delivery_End_Date']-df_test['Planned_Delivery_Start_Date']
df_test['tiempo_entrega']= df_test['tiempo_entrega'].dt.days

In [ ]:
df_test['balance_terminos'] = (1+df_test['Pricing, Delivery_Terms_Quote_Appr'] + 1+df_test['Pricing, Delivery_Terms_Approved']) * (1+df_test['Bureaucratic_Code_0_Approval']+1+df_test['Bureaucratic_Code_0_Approved'])
cambio = {4 : 1, 8 : 2, 16: 3, 6: 4, 12: 5, 9: 6}
df_test['balance_terminos'] = df_test['balance_terminos'].map(cambio)

In [ ]:
df_test['place']= df_test['Region']+ '-' + df_test['Billing_Country']

In [ ]:
df_ML_test = df_test[['años', 'meses', 'TRF', 'place', 'Opportunity_Owner', 'Opportunity_Type', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta', 'tiempo_entrega','balance_terminos','Opportunity_ID']]
df_ML_test

      años  meses  TRF  ... tiempo_entrega balance_terminos Opportunity_ID
116   2019      1    0  ...            0.0                1          10756
117   2019      1    0  ...            0.0                1          10757
118   2019      1    0  ...            0.0                6          10758
119   2019      1    0  ...            0.0                6          10758
120   2019      1    0  ...            0.0                6          10758
...    ...    ...  ...  ...            ...              ...            ...
2546  2019      4    0  ...            9.0                2          12364
2547  2019      4    0  ...           91.0                2          12365
2548  2019      4    0  ...           91.0                3          12366
2549  2019      4    0  ...            0.0                2          12367
2550  2019      4    3  ...           53.0                4          12368

[2551 rows x 13 columns]

In [ ]:
df_ML_test_cat = df_ML_test[cat_cols]
df_ML_test_cat

                       place  ...      Product_Name
116   Americas-United States  ...  Product_Name_322
117   Americas-United States  ...  Product_Name_447
118   Americas-United States  ...  Product_Name_447
119   Americas-United States  ...  Product_Name_298
120   Americas-United States  ...  Product_Name_322
...                      ...  ...               ...
2546       EMEA-South Africa  ...  Product_Name_447
2547  Americas-United States  ...  Product_Name_477
2548  Americas-United States  ...  Product_Name_477
2549  Americas-United States  ...  Product_Name_281
2550         EMEA-Luxembourg  ...  Product_Name_331

[2551 rows x 5 columns]

In [ ]:
df_ML_test_cat.tail(20)

                       place  ...      Product_Name
2531             EMEA-France  ...  Product_Name_220
2532  Americas-United States  ...  Product_Name_226
2533  Americas-United States  ...  Product_Name_220
2534  Americas-United States  ...  Product_Name_220
2535  Americas-United States  ...  Product_Name_220
2536  Americas-United States  ...  Product_Name_479
2537             Japan-Japan  ...  Product_Name_354
2538           APAC-Thailand  ...  Product_Name_489
2539            EMEA-Belgium  ...  Product_Name_290
2540             EMEA-Norway  ...  Product_Name_303
2541             EMEA-Norway  ...  Product_Name_241
2542             Japan-Japan  ...  Product_Name_322
2543             Japan-Japan  ...  Product_Name_276
2544            EMEA-Belgium  ...  Product_Name_290
2545       EMEA-South Africa  ...  Product_Name_241
2546       EMEA-South Africa  ...  Product_Name_447
2547  Americas-United States  ...  Product_Name_477
2548  Americas-United States  ...  Product_Name_477
2549  Americas-United States  ...  Product_Name_281
2550         EMEA-Luxembourg  ...  Product_Name_331

[20 rows x 5 columns]

In [ ]:
enc = TargetEncoder(cols=df_ML_test_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_test_cat,df_ML_test['Opportunity_ID'])
df_mean_encoding_test = pd.DataFrame(enc.transform(df_ML_test_cat))
df_mean_encoding_test

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

                 0             1             2             3             4
0     11579.642285  11625.741176  11610.415657  11565.035806  11598.571429
1     11579.642285  11707.037037  11504.536007  11561.680272  11509.916667
2     11579.642285  11707.037037  11593.290076  11561.680272  11509.916667
3     11579.642285  11707.037037  11593.290076  11528.062500  11546.858333
4     11579.642285  11707.037037  11593.290076  11565.035806  11598.571429
...            ...           ...           ...           ...           ...
2546  12145.074303  11531.962733  11504.536007  11561.680272  11509.916667
2547  11579.642285  11552.820513  11504.536007  11452.991870  11716.344828
2548  11579.642285  11552.820513  11504.536007  11452.991870  11716.344828
2549  11579.642285  11707.037037  11647.177469  11732.142857  11763.892857
2550  11642.300000  11625.743119  11504.536007  11805.852941  11972.910008

[2551 rows x 5 columns]

In [ ]:
df_mean_encoding_test.rename(columns={0:'place', 1:'Opportunity_Owner', 2:'Opportunity_Type',3:'Product_Family',4:'Product_Name'}, inplace=True)
df_mean_encoding_test

             place  Opportunity_Owner  ...  Product_Family  Product_Name
0     11579.642285       11625.741176  ...    11565.035806  11598.571429
1     11579.642285       11707.037037  ...    11561.680272  11509.916667
2     11579.642285       11707.037037  ...    11561.680272  11509.916667
3     11579.642285       11707.037037  ...    11528.062500  11546.858333
4     11579.642285       11707.037037  ...    11565.035806  11598.571429
...            ...                ...  ...             ...           ...
2546  12145.074303       11531.962733  ...    11561.680272  11509.916667
2547  11579.642285       11552.820513  ...    11452.991870  11716.344828
2548  11579.642285       11552.820513  ...    11452.991870  11716.344828
2549  11579.642285       11707.037037  ...    11732.142857  11763.892857
2550  11642.300000       11625.743119  ...    11805.852941  11972.910008

[2551 rows x 5 columns]

In [ ]:
df_ML_test = pd.concat([df_ML_test.drop(columns=cat_cols), df_mean_encoding_test], axis=1)
df_ML_test

      años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0     2019      4    0  ...      11610.415657    11565.035806  11598.571429
1     2019      4    0  ...      11504.536007    11561.680272  11509.916667
2     2019      4    0  ...      11593.290076    11561.680272  11509.916667
3     2019      4    1  ...      11593.290076    11528.062500  11546.858333
4     2019      4    0  ...      11593.290076    11565.035806  11598.571429
...    ...    ...  ...  ...               ...             ...           ...
2546  2019      4    0  ...      11504.536007    11561.680272  11509.916667
2547  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2548  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2549  2019      4    0  ...      11647.177469    11732.142857  11763.892857
2550  2019      4    3  ...      11504.536007    11805.852941  11972.910008

[2551 rows x 13 columns]

In [ ]:
df_ML_test.tail(20)

      años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
2531  2019      4    1  ...      11504.536007    11628.867725  11529.250000
2532  2019      4    0  ...      11647.177469    11628.867725  11671.745614
2533  2019      4    1  ...      11647.177469    11628.867725  11529.250000
2534  2019      4    1  ...      11647.177469    11628.867725  11529.250000
2535  2019      4    1  ...      11647.177469    11628.867725  11529.250000
2536  2019      4    0  ...      11504.536007    12026.642813  11549.972560
2537  2019      4   12  ...      11504.536007    11809.266667  11549.972560
2538  2019      4    0  ...      11504.536007    11441.101449  11225.000000
2539  2019      4    1  ...      11504.536007    11554.400000  11840.767444
2540  2019      4    0  ...      11647.177469    11422.160000  11450.304348
2541  2019      4    0  ...      11647.177469    11627.805785  11607.381910
2542  2019      4    0  ...      11504.536007    11565.035806  11598.571429
2543  2019      4    1  ...      11504.536007    11938.750601  11742.010492
2544  2019      4    1  ...      11504.536007    11554.400000  11840.767444
2545  2019      4    0  ...      11504.536007    11627.805785  11607.381910
2546  2019      4    0  ...      11504.536007    11561.680272  11509.916667
2547  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2548  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2549  2019      4    0  ...      11647.177469    11732.142857  11763.892857
2550  2019      4    3  ...      11504.536007    11805.852941  11972.910008

[20 rows x 13 columns]

In [ ]:
pred = clf.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
pred

array([[0.36223453, 0.63776547],
       [0.36223453, 0.63776547],
       [0.36223453, 0.63776547],
       ...,
       [0.23905426, 0.76094574],
       [0.1846503 , 0.8153497 ],
       [0.86211663, 0.13788337]], dtype=float32)

In [ ]:
predicciones = pd.Series(pred[:,1])
resultados = pd.concat([df_ML_test['Opportunity_ID'], predicciones], axis=1).rename(columns={0: 'Target'})
resultados.head(10)

   Opportunity_ID    Target
0           10689  0.637765
1           10689  0.637765
2           10689  0.637765
3           10690  0.311283
4           10690  0.500736
5           10690  0.500736
6           10690  0.500736
7           10690  0.500736
8           10691  0.921219
9           10692  0.711222

In [ ]:
res_promedio = resultados.groupby('Opportunity_ID').mean()

In [ ]:
res_promedio.reset_index(inplace=True)
res_promedio

      Opportunity_ID    Target
0              10689  0.637765
1              10690  0.462846
2              10691  0.921219
3              10692  0.711222
4              10693  0.954845
...              ...       ...
1562           12364  0.821848
1563           12365  0.834674
1564           12366  0.760946
1565           12367  0.815350
1566           12368  0.137883

[1567 rows x 2 columns]

In [ ]:
((res_promedio['Opportunity_ID'].value_counts()) > 1).value_counts()

False    1567
Name: Opportunity_ID, dtype: int64

In [ ]:
res_promedio.drop_duplicates(subset='Opportunity_ID', inplace=True)
res_promedio.tail(30)

      Opportunity_ID    Target
1537           12339  0.192528
1538           12340  0.954099
1539           12341  0.959647
1540           12342  0.950702
1541           12343  0.963859
1542           12344  0.877075
1543           12345  0.200812
1544           12346  0.200812
1545           12347  0.184985
1546           12348  0.148407
1547           12349  0.200812
1548           12350  0.148407
1549           12351  0.268489
1550           12352  0.384444
1551           12353  0.762478
1552           12354  0.268414
1553           12355  0.645066
1554           12356  0.713969
1555           12357  0.042897
1556           12358  0.814095
1557           12359  0.248730
1558           12360  0.857319
1559           12361  0.890869
1560           12362  0.698929
1561           12363  0.602615
1562           12364  0.821848
1563           12365  0.834674
1564           12366  0.760946
1565           12367  0.815350
1566           12368  0.137883

In [ ]:
(res_promedio['Target']>0.9).value_counts()

False    1389
True      178
Name: Target, dtype: int64

In [ ]:
res_promedio.to_csv('resultsaa.csv', index=False)

In [ ]:
df_train

          ID    Region  ...        Stage       Prod_Category_A
0      27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1      27760      EMEA  ...   Closed Won  Prod_Category_A_None
2      27446  Americas  ...   Closed Won  Prod_Category_A_None
3      16808  Americas  ...  Closed Lost  Prod_Category_A_None
4      16805  Americas  ...  Closed Lost  Prod_Category_A_None
...      ...       ...  ...          ...                   ...
16942   8781      EMEA  ...   Closed Won  Prod_Category_A_None
16943   8786      EMEA  ...   Closed Won  Prod_Category_A_None
16944   8792      EMEA  ...   Closed Won  Prod_Category_A_None
16945  28561  Americas  ...  Closed Lost  Prod_Category_A_None
16946  28318  Americas  ...  Closed Lost  Prod_Category_A_None

[16947 rows x 52 columns]

In [ ]:
df_train2 = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_train2 = df_train2[(df_train2.Stage == 'Closed Won') | (df_train2.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
df_train2['Stage'] = df_train2['Stage'].map(cambio_binario)
df_train2

          ID    Region  ... Stage       Prod_Category_A
0      27761      EMEA  ...     0  Prod_Category_A_None
1      27760      EMEA  ...     1  Prod_Category_A_None
2      27446  Americas  ...     1  Prod_Category_A_None
3      16808  Americas  ...     0  Prod_Category_A_None
4      16805  Americas  ...     0  Prod_Category_A_None
...      ...       ...  ...   ...                   ...
16942   8781      EMEA  ...     1  Prod_Category_A_None
16943   8786      EMEA  ...     1  Prod_Category_A_None
16944   8792      EMEA  ...     1  Prod_Category_A_None
16945  28561  Americas  ...     0  Prod_Category_A_None
16946  28318  Americas  ...     0  Prod_Category_A_None

[16883 rows x 52 columns]

In [ ]:
dt=df_train2.groupby('Opportunity_ID').agg({'Pricing, Delivery_Terms_Quote_Appr':'max', 'Pricing, Delivery_Terms_Approved':'max','Stage':'max'})
dt

                Pricing, Delivery_Terms_Quote_Appr  ...  Stage
Opportunity_ID                                      ...
0                                                1  ...      0
1                                                0  ...      1
2                                                0  ...      1
3                                                1  ...      0
4                                                1  ...      0
...                                            ...  ...    ...
12799                                            1  ...      1
12800                                            1  ...      0
12801                                            1  ...      1
12802                                            1  ...      0
12803                                            1  ...      0

[9791 rows x 3 columns]

In [ ]:
bc=df_train2.groupby('Opportunity_ID').agg({'Bureaucratic_Code_0_Approval':'max', 'Bureaucratic_Code_0_Approved':'max','Stage':'max'})
bc

                Bureaucratic_Code_0_Approval  ...  Stage
Opportunity_ID                                ...
0                                          1  ...      0
1                                          0  ...      1
2                                          0  ...      1
3                                          1  ...      0
4                                          1  ...      0
...                                      ...  ...    ...
12799                                      0  ...      1
12800                                      0  ...      0
12801                                      1  ...      1
12802                                      1  ...      0
12803                                      1  ...      0

[9791 rows x 3 columns]

In [ ]:
(df_train['Submitted_for_Approval']==0).value_counts()

True    16947
Name: Submitted_for_Approval, dtype: int64

BIEN

In [ ]:
X_train = df_ML_train.drop('Stage',axis=1)
Y_train = df_ML_train['Stage']

In [ ]:
clfs2 = []
seed = 3

clfs2.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression(n_jobs=-1, random_state=42))])))



clfs2.append(("XGBClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("XGB", XGBClassifier(n_estimators=200, n_jobs=-1, 
                                                               random_state=42))]))) 

clfs2.append(("GradientBoostingClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("GradientBoosting", GradientBoostingClassifier(n_estimators=200,
                                                                       random_state=42))]))) 

#clfs.append(("RidgeClassifier", 
#            Pipeline([("Scaler", StandardScaler()),
#                       ("RidgeClassifier", RidgeClassifier(random_state=42))])))

clfs2.append(("BaggingRidgeClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier(n_jobs=-1, random_state=42))])))

clfs2.append(("ExtraTreesClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("ExtraTrees", ExtraTreesClassifier(n_jobs=-1, random_state=42))])))


scoring = 'neg_log_loss'
n_folds = 5

results, names  = [], [] 

for name, model  in clfs2:
    kfold = KFold(n_splits=n_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train, Y_train, 
                                 cv= n_folds, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, -cv_results.mean(),  cv_results.std())
    print(msg)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

LogReg: 0.633031 (+/- 0.071635)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

XGBClassifier: 1.039236 (+/- 0.346833)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

GradientBoostingClassifier: 1.208522 (+/- 0.249791)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

BaggingRidgeClassifier: 7.780353 (+/- 5.405313)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

ExtraTreesClassifier: 1.435914 (+/- 0.480970)

In [ ]:
parametros = {'n_estimators' : [100, 150, 200, 300, 400], 'min_samples_split' : [2,3,4]}

xg2 = xgb.XGBClassifier()
clf2 = GridSearchCV(xg2, parametros)

In [ ]:
clf2.fit(X = X_train, y = Y_train)

KeyboardInterrupt: ignored

In [ ]:
pred2 = clf2.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
predicciones2 = pd.Series(pred2[:,1])
resultados2 = pd.concat([df_ML_test['Opportunity_ID'], predicciones2], axis=1).rename(columns={0: 'Target'})
resultados2.head(10)

In [ ]:
res_promedio2 = resultados2.groupby('Opportunity_ID').mean()
res_promedio2.reset_index(inplace=True)
res_promedio2.tail(30)

In [ ]:
((res_promedio2['Opportunity_ID'].value_counts()) > 1).value_counts()

In [ ]:
res_promedio2.drop_duplicates(subset='Opportunity_ID', inplace=True)
res_promedio2.tail(30)

In [ ]:
(res_promedio2['Target']>0.9).value_counts()

In [ ]:
res_promedio2.to_csv('resultsaa2.csv', index=False)