In [1]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [2]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import datetime as datetime
import calendar

In [3]:
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 5.3MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [4]:
from sklearn.metrics import log_loss 
from category_encoders.target_encoder import TargetEncoder

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, KFold, cross_validate
from sklearn.linear_model import RidgeClassifier, SGDClassifier, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, BaggingClassifier, VotingClassifier, RandomTreesEmbedding
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [6]:
from xgboost import XGBClassifier

# DATASET

In [7]:
df_train = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_test = pd.read_csv('Test_TP2_Datos_2020-2C.csv')

In [8]:
train = df_train[(df_train.Stage == 'Closed Won') | (df_train.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
train['Stage'] = train['Stage'].map(cambio_binario)
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'])
train['años'] = train['Opportunity_Created_Date'].dt.year
train['meses'] = train['Opportunity_Created_Date'].dt.month
train.sort_values(['años', 'meses'], ascending=True, inplace=True)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

          ID    Region    Territory  ...       Prod_Category_A  años  meses
16104  12714      EMEA       France  ...  Prod_Category_A_None  2013     11
16105  18684      APAC  Philippines  ...  Prod_Category_A_None  2014      3
16106  20675  Americas   NW America  ...  Prod_Category_A_None  2014      3
16107  20682  Americas   NW America  ...  Prod_Category_A_None  2014      3
16108  20513  Americas         None  ...  Prod_Category_A_None  2014      5
...      ...       ...          ...  ...                   ...   ...    ...
16099  22652     Japan        Japan  ...  Prod_Category_A_None  2018     12
16100  20803  Americas   NW America  ...  Prod_Category_A_None  2018     12
16101   5839  Americas   SE America  ...  Prod_Category_A_None  2018     12
16102   5845  Americas   SE America  ...  Prod_Category_A_None  2018     12
16103   5850  Americas   SE America  ...  Prod_Category_A_None  2018     12

[16883 rows x 54 columns]

In [9]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
train['moneda'] = train['Total_Taxable_Amount_Currency']
train['moneda'] = train['moneda'].map(cambio_binario)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          ID    Region    Territory  ...  años  meses  moneda
16104  12714      EMEA       France  ...  2013     11  1.2100
16105  18684      APAC  Philippines  ...  2014      3  1.0000
16106  20675  Americas   NW America  ...  2014      3  1.0000
16107  20682  Americas   NW America  ...  2014      3  1.0000
16108  20513  Americas         None  ...  2014      5  1.0000
...      ...       ...          ...  ...   ...    ...     ...
16099  22652     Japan        Japan  ...  2018     12  0.0094
16100  20803  Americas   NW America  ...  2018     12  1.0000
16101   5839  Americas   SE America  ...  2018     12  1.0000
16102   5845  Americas   SE America  ...  2018     12  1.0000
16103   5850  Americas   SE America  ...  2018     12  1.0000

[16883 rows x 55 columns]

In [10]:
train['Amount_converted'] = train['moneda']*train['Total_Taxable_Amount']
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID    Region    Territory  ...  meses  moneda  Amount_converted
16104  12714      EMEA       France  ...     11  1.2100      8.013679e+05
16105  18684      APAC  Philippines  ...      3  1.0000      9.803430e+06
16106  20675  Americas   NW America  ...      3  1.0000      3.418632e+05
16107  20682  Americas   NW America  ...      3  1.0000      3.418632e+05
16108  20513  Americas         None  ...      5  1.0000      3.141078e+07
...      ...       ...          ...  ...    ...     ...               ...
16099  22652     Japan        Japan  ...     12  0.0094      1.007530e+04
16100  20803  Americas   NW America  ...     12  1.0000      3.094416e+05
16101   5839  Americas   SE America  ...     12  1.0000      2.215743e+04
16102   5845  Americas   SE America  ...     12  1.0000      2.215743e+04
16103   5850  Americas   SE America  ...     12  1.0000      2.215743e+04

[16883 rows x 56 columns]

In [11]:
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'])
train['tiempo_op_abierta']=train['Last_Modified_Date']-train['Opportunity_Created_Date']
train['tiempo_op_abierta']= train['tiempo_op_abierta'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
df_ML_train = train[['años', 'meses', 'TRF', 'Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type', 'Stage', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta']]
df_ML_train

       años  meses  ...      Product_Name tiempo_op_abierta
16104  2013     11  ...  Product_Name_221              1775
16105  2014      3  ...   Product_Name_98               859
16106  2014      3  ...  Product_Name_310               908
16107  2014      3  ...  Product_Name_310               908
16108  2014      5  ...  Product_Name_287               485
...     ...    ...  ...               ...               ...
16099  2018     12  ...  Product_Name_231                 1
16100  2018     12  ...  Product_Name_220                 0
16101  2018     12  ...  Product_Name_505                 0
16102  2018     12  ...  Product_Name_241                 0
16103  2018     12  ...  Product_Name_322                 0

[16883 rows x 12 columns]

# ENCODEAR

In [13]:
cat_cols = df_ML_train.select_dtypes(include='object').columns
cat_cols

Index(['Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type',
       'Product_Family', 'Product_Name'],
      dtype='object')

In [14]:
df_ML_cat = df_ML_train[cat_cols]
df_ML_cat

         Region Billing_Country  ...      Product_Family      Product_Name
16104      EMEA          France  ...  Product_Family_133  Product_Name_221
16105      APAC         Germany  ...   Product_Family_77   Product_Name_98
16106  Americas   United States  ...  Product_Family_164  Product_Name_310
16107  Americas   United States  ...  Product_Family_164  Product_Name_310
16108  Americas   United States  ...  Product_Family_158  Product_Name_287
...         ...             ...  ...                 ...               ...
16099     Japan           Japan  ...  Product_Family_132  Product_Name_231
16100  Americas   United States  ...  Product_Family_133  Product_Name_220
16101  Americas   United States  ...  Product_Family_240  Product_Name_505
16102  Americas   United States  ...  Product_Family_140  Product_Name_241
16103  Americas   United States  ...  Product_Family_168  Product_Name_322

[16883 rows x 6 columns]

In [15]:
enc = TargetEncoder(cols=df_ML_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_cat,df_ML_train['Stage'])
df_mean_encoding = pd.DataFrame(enc.transform(df_ML_cat))

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [16]:
df_mean_encoding.rename(columns={0:'Region', 1:'Billing_Country', 2:'Opportunity_Owner', 3:'Opportunity_Type',4:'Product_Family',5:'Product_Name'}, inplace=True)
df_mean_encoding

         Region  Billing_Country  ...  Product_Family  Product_Name
0      0.530258         0.280303  ...        0.735789      0.574468
1      0.583205         0.567527  ...        0.488476      0.090909
2      0.455886         0.463061  ...        0.291169      0.551724
3      0.455886         0.463061  ...        0.291169      0.551724
4      0.455886         0.463061  ...        0.303922      0.269231
...         ...              ...  ...             ...           ...
16878  0.682481         0.684308  ...        0.636842      0.748700
16879  0.455886         0.463061  ...        0.735789      0.659306
16880  0.455886         0.463061  ...        0.469388      0.469388
16881  0.455886         0.463061  ...        0.680519      0.752351
16882  0.455886         0.463061  ...        0.500000      0.589286

[16883 rows x 6 columns]

In [17]:
df_ML_train = pd.concat([df_ML_train.drop(columns=cat_cols), df_mean_encoding], axis=1)
df_ML_train

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2015.0   12.0  10.0  ...          0.533953        0.735789      0.574468
1      2015.0   12.0   0.0  ...          0.211223        0.488476      0.090909
2      2015.0   12.0   0.0  ...          0.533953        0.291169      0.551724
3      2015.0   12.0  14.0  ...          0.533953        0.291169      0.551724
4      2015.0   12.0  25.0  ...          0.211223        0.303922      0.269231
...       ...    ...   ...  ...               ...             ...           ...
16942  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16943  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16944  2015.0   12.0   0.0  ...               NaN             NaN           NaN
16945  2015.0   12.0   4.0  ...               NaN             NaN           NaN
16946  2015.0   12.0  40.0  ...               NaN             NaN           NaN

[16947 rows x 12 columns]

In [18]:
df_ML_train = df_ML_train.dropna()
df_ML_train

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2015.0   12.0  10.0  ...          0.533953        0.735789      0.574468
1      2015.0   12.0   0.0  ...          0.211223        0.488476      0.090909
2      2015.0   12.0   0.0  ...          0.533953        0.291169      0.551724
3      2015.0   12.0  14.0  ...          0.533953        0.291169      0.551724
4      2015.0   12.0  25.0  ...          0.211223        0.303922      0.269231
...       ...    ...   ...  ...               ...             ...           ...
16878  2015.0   12.0   0.0  ...          0.533953        0.636842      0.748700
16879  2015.0   12.0   0.0  ...          0.684201        0.735789      0.659306
16880  2015.0   12.0   0.0  ...          0.684201        0.469388      0.469388
16881  2015.0   12.0   0.0  ...          0.684201        0.680519      0.752351
16882  2015.0   12.0   0.0  ...          0.684201        0.500000      0.589286

[16819 rows x 12 columns]

# SEPARO TEST Y TRAIN ORDENADO SEGUN FECHA

In [25]:
df_ML_train.sort_values(['años', 'meses'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
X_train2=df_ML_train.iloc[0:13455,:]
y_train2=X_train2['Stage']
X_train2=X_train2.drop('Stage',axis=1)
X_train2

         años  meses   TRF  ...  Opportunity_Type  Product_Family  Product_Name
16104  2013.0   11.0   2.0  ...          0.533953        0.680519      0.752351
16105  2014.0    3.0  20.0  ...          0.533953        0.532520      0.100000
16106  2014.0    3.0   0.0  ...          0.211223        0.377637      0.300000
16107  2014.0    3.0   0.0  ...          0.684201        0.421304      0.611940
16108  2014.0    5.0   6.0  ...          0.684201        0.735789      0.809809
...       ...    ...   ...  ...               ...             ...           ...
11643  2018.0    3.0   0.0  ...          0.211223        0.551102      0.090909
11644  2018.0    3.0   0.0  ...          0.533953        0.735789      0.809809
11645  2018.0    3.0   0.0  ...          0.702332        0.551102      0.717647
11646  2018.0    3.0   0.0  ...          0.684201        0.525253      0.711864
11647  2018.0    3.0   0.0  ...          0.533953        0.377637      0.066667

[13455 rows x 11 columns]

In [27]:
X_test2=df_ML_train.iloc[13455:16820,:]
y_test2=X_test2['Stage']
X_test2=X_test2.drop('Stage',axis=1)
X_test2

         años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
11648  2018.0    3.0  0.0  ...          0.533953        0.738717      0.810811
11649  2018.0    3.0  0.0  ...          0.533953        0.738717      0.810811
11650  2018.0    3.0  0.0  ...          0.533953        0.738717      0.480000
11651  2018.0    3.0  0.0  ...          0.702332        0.735789      0.809809
11652  2018.0    3.0  0.0  ...          0.684201        0.532520      0.589041
...       ...    ...  ...  ...               ...             ...           ...
16099  2018.0   12.0  0.0  ...          0.533953        0.392086      0.483146
16100  2018.0   12.0  1.0  ...          0.533953        0.377637      0.300000
16101  2018.0   12.0  0.0  ...          0.533953        0.377637      0.603774
16102  2018.0   12.0  0.0  ...          0.533953        0.421304      0.611940
16103  2018.0   12.0  0.0  ...          0.533953        0.680519      0.752351

[3364 rows x 11 columns]

In [28]:
clfs = []
seed = 3

clfs.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression(n_jobs=-1, random_state=42))])))



clfs.append(("XGBClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("XGB", XGBClassifier(n_estimators=200, n_jobs=-1, 
                                                               random_state=42))]))) 

clfs.append(("GradientBoostingClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("GradientBoosting", GradientBoostingClassifier(n_estimators=200,
                                                                       random_state=42))]))) 

#clfs.append(("RidgeClassifier", 
#            Pipeline([("Scaler", StandardScaler()),
#                       ("RidgeClassifier", RidgeClassifier(random_state=42))])))

clfs.append(("BaggingRidgeClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier(n_jobs=-1, random_state=42))])))

clfs.append(("ExtraTreesClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("ExtraTrees", ExtraTreesClassifier(n_jobs=-1, random_state=42))])))


scoring = 'neg_log_loss'
n_folds = 5

results, names  = [], [] 

for name, model  in clfs:
    kfold = KFold(n_splits=n_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train2, y_train2, 
                                 cv= n_folds, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, -cv_results.mean(),  cv_results.std())
    print(msg)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

LogReg: 0.704335 (+/- 0.143061)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

XGBClassifier: 1.034496 (+/- 0.349116)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

GradientBoostingClassifier: 1.164369 (+/- 0.373538)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

BaggingRidgeClassifier: 11.026694 (+/- 7.924747)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

ExtraTreesClassifier: 3.183741 (+/- 1.715256)

In [29]:
parametros = {'n_estimators' : [100, 150, 200, 300, 400], 'min_samples_split' : [2,3,4]}

xg = xgb.XGBClassifier()
clf = GridSearchCV(xg, parametros)

In [30]:
clf.fit(X = X_train2, y = y_train2)

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': [2, 3, 4],
                         'n_estimators': [100, 150, 200, 300, 400]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [31]:
clf.cv_results_

{'mean_fit_time': array([0.54394002, 0.80105939, 1.06181931, 1.56705494, 2.10793591,
        0.5443953 , 0.80450463, 1.06003456, 1.5874917 , 2.12289739,
        0.54818845, 0.80385942, 1.05927057, 1.58222961, 2.10638256]),
 'mean_score_time': array([0.01074309, 0.01523705, 0.02035632, 0.0288661 , 0.03787255,
        0.01083574, 0.01555634, 0.01997147, 0.02921314, 0.0382997 ,
        0.01101084, 0.01545253, 0.0198904 , 0.02882819, 0.03844543]),
 'mean_test_score': array([0.47231512, 0.45366035, 0.44756596, 0.44347826, 0.43894463,
        0.47231512, 0.45366035, 0.44756596, 0.44347826, 0.43894463,
        0.47231512, 0.45366035, 0.44756596, 0.44347826, 0.43894463]),
 'param_min_samples_split': masked_array(data=[2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[100, 150, 200, 300, 400, 100, 150, 200, 300, 400, 100,
                    150, 200, 300, 400],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'min_samples_split': 2, 'n_estimators': 100},
  {'min_samples_split': 2, 'n_estimators': 150},
  {'min_samples_split': 2, 'n_estimators': 200},
  {'min_samples_split': 2, 'n_estimators': 300},
  {'min_samples_split': 2, 'n_estimators': 400},
  {'min_samples_split': 3, 'n_estimators': 100},
  {'min_samples_split': 3, 'n_estimators': 150},
  {'min_samples_split': 3, 'n_estimators': 200},
  {'min_samples_split': 3, 'n_estimators': 300},
  {'min_samples_split': 3, 'n_estimators': 400},
  {'min_samples_split': 4, 'n_estimators': 100},
  {'min_samples_split': 4, 'n_estimators': 150},
  {'min_samples_split': 4, 'n_estimators': 200},
  {'min_samples_split': 4, 'n_estimators': 300},
  {'min_samples_split': 4, 'n_estimators': 400}],
 'rank_test_score': array([ 1,  4,  7, 10, 13,  1,  4,  7, 10, 13,  1,  4,  7, 10, 13],
       dtype=int32),
 'split0_test_score': array([0.45187663, 0.43552583, 0.43106652, 0.43069491, 0.42660721,
        0.45187663, 0.43552583, 0.43106652, 0.43069491, 0.42660721,
        0.45187663, 0.43552583, 0.43106652, 0.43069491, 0.42660721]),
 'split1_test_score': array([0.29282795, 0.25492382, 0.23002601, 0.20958751, 0.19397993,
        0.29282795, 0.25492382, 0.23002601, 0.20958751, 0.19397993,
        0.29282795, 0.25492382, 0.23002601, 0.20958751, 0.19397993]),
 'split2_test_score': array([0.29542921, 0.26309922, 0.26830175, 0.27350427, 0.27499071,
        0.29542921, 0.26309922, 0.26830175, 0.27350427, 0.27499071,
        0.29542921, 0.26309922, 0.26830175, 0.27350427, 0.27499071]),
 'split3_test_score': array([0.64176886, 0.64251208, 0.63991081, 0.63210702, 0.62950576,
        0.64176886, 0.64251208, 0.63991081, 0.63210702, 0.62950576,
        0.64176886, 0.64251208, 0.63991081, 0.63210702, 0.62950576]),
 'split4_test_score': array([0.67967298, 0.6722408 , 0.66852471, 0.67149758, 0.66963954,
        0.67967298, 0.6722408 , 0.66852471, 0.67149758, 0.66963954,
        0.67967298, 0.6722408 , 0.66852471, 0.67149758, 0.66963954]),
 'std_fit_time': array([0.00604578, 0.00395171, 0.00546484, 0.00913523, 0.02351696,
        0.00721166, 0.00598752, 0.00532819, 0.00566209, 0.01900661,
        0.0042442 , 0.00558026, 0.00538993, 0.01148396, 0.01353975]),
 'std_score_time': array([0.00026245, 0.00052318, 0.001416  , 0.00059927, 0.00113322,
        0.00041798, 0.00072721, 0.00095275, 0.00132248, 0.00140224,
        0.00035392, 0.00050485, 0.00073414, 0.00073957, 0.00196895]),
 'std_test_score': array([0.16470207, 0.17865106, 0.18196199, 0.18511244, 0.18792258,
        0.16470207, 0.17865106, 0.18196199, 0.18511244, 0.18792258,
        0.16470207, 0.17865106, 0.18196199, 0.18511244, 0.18792258])}

In [32]:
preds3 = clf.predict_proba(X_test2)
error3 = log_loss(y_test2, preds3)
print('error: %f' %(error3))

error: 0.522137

Test

In [83]:
df_test

         ID    Region  ... Total_Taxable_Amount       Prod_Category_A
0      6140      EMEA  ...             367419.0  Prod_Category_A_None
1      6146      EMEA  ...             367419.0  Prod_Category_A_None
2      6151      EMEA  ...             367419.0  Prod_Category_A_None
3      6118      EMEA  ...             757783.5  Prod_Category_A_None
4      6124      EMEA  ...             757783.5  Prod_Category_A_None
...     ...       ...  ...                  ...                   ...
2546  16345      EMEA  ...             147750.0  Prod_Category_A_None
2547  15218  Americas  ...              45054.9  Prod_Category_A_None
2548  15224  Americas  ...             100122.0  Prod_Category_A_None
2549   7286  Americas  ...             143220.0  Prod_Category_A_None
2550  11263      EMEA  ...             871020.8  Prod_Category_A_None

[2551 rows x 51 columns]

In [84]:
df_test['Opportunity_Created_Date'] = pd.to_datetime(df_test['Opportunity_Created_Date'])
df_test['años'] = df_test['Opportunity_Created_Date'].dt.year
df_test['meses'] = df_test['Opportunity_Created_Date'].dt.month
df_test.sort_values(['años', 'meses'], ascending=True, inplace=True)
df_test

         ID    Region   Territory  ...       Prod_Category_A  años  meses
116   17805  Americas  NW America  ...  Prod_Category_A_None  2019      1
117   20075  Americas  NE America  ...  Prod_Category_A_None  2019      1
118    7236  Americas  NE America  ...  Prod_Category_A_None  2019      1
119    7241  Americas  NE America  ...  Prod_Category_A_None  2019      1
120    7247  Americas  NE America  ...  Prod_Category_A_None  2019      1
...     ...       ...         ...  ...                   ...   ...    ...
2546  16345      EMEA         KSA  ...  Prod_Category_A_None  2019      4
2547  15218  Americas  SE America  ...  Prod_Category_A_None  2019      4
2548  15224  Americas  SE America  ...  Prod_Category_A_None  2019      4
2549   7286  Americas  NE America  ...  Prod_Category_A_None  2019      4
2550  11263      EMEA     Belgium  ...  Prod_Category_A_None  2019      4

[2551 rows x 53 columns]

In [85]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
df_test['moneda'] = df_test['Total_Taxable_Amount_Currency']
df_test['moneda'] = df_test['moneda'].map(cambio_binario)
df_test['Amount_converted'] = df_test['moneda']*df_test['Total_Taxable_Amount']

df_test['Last_Modified_Date'] = pd.to_datetime(df_test['Last_Modified_Date'])
df_test['tiempo_op_abierta']=df_test['Last_Modified_Date']-df_test['Opportunity_Created_Date']
df_test['tiempo_op_abierta']= df_test['tiempo_op_abierta'].dt.days

In [89]:
df_ML_test = df_test[['años', 'meses', 'TRF', 'Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta', 'Opportunity_ID']]
df_ML_test

      años  meses  TRF  ...      Product_Name tiempo_op_abierta Opportunity_ID
116   2019      1    0  ...  Product_Name_322                 1          10756
117   2019      1    0  ...  Product_Name_447                74          10757
118   2019      1    0  ...  Product_Name_447                49          10758
119   2019      1    0  ...  Product_Name_298                49          10758
120   2019      1    0  ...  Product_Name_322                49          10758
...    ...    ...  ...  ...               ...               ...            ...
2546  2019      4    0  ...  Product_Name_447                 0          12364
2547  2019      4    0  ...  Product_Name_477                 1          12365
2548  2019      4    0  ...  Product_Name_477                 1          12366
2549  2019      4    0  ...  Product_Name_281                 0          12367
2550  2019      4    3  ...  Product_Name_331                 0          12368

[2551 rows x 12 columns]

In [90]:
df_ML_test_cat = df_ML_test[cat_cols]
df_ML_test_cat

        Region Billing_Country  ...      Product_Family      Product_Name
116   Americas   United States  ...  Product_Family_168  Product_Name_322
117   Americas   United States  ...  Product_Family_213  Product_Name_447
118   Americas   United States  ...  Product_Family_213  Product_Name_447
119   Americas   United States  ...  Product_Family_162  Product_Name_298
120   Americas   United States  ...  Product_Family_168  Product_Name_322
...        ...             ...  ...                 ...               ...
2546      EMEA    South Africa  ...  Product_Family_213  Product_Name_447
2547  Americas   United States  ...  Product_Family_221  Product_Name_477
2548  Americas   United States  ...  Product_Family_221  Product_Name_477
2549  Americas   United States  ...  Product_Family_156  Product_Name_281
2550      EMEA      Luxembourg  ...  Product_Family_171  Product_Name_331

[2551 rows x 6 columns]

In [91]:
enc = TargetEncoder(cols=df_ML_test_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_test_cat,df_ML_test['Opportunity_ID'])
df_mean_encoding_test = pd.DataFrame(enc.transform(df_ML_test_cat))
df_mean_encoding_test

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

                 0             1  ...             4             5
0     11583.837598  11579.642285  ...  11565.035806  11598.571429
1     11583.837598  11579.642285  ...  11561.680272  11509.916667
2     11583.837598  11579.642285  ...  11561.680272  11509.916667
3     11583.837598  11579.642285  ...  11528.062500  11546.858333
4     11583.837598  11579.642285  ...  11565.035806  11598.571429
...            ...           ...  ...           ...           ...
2546  11503.219570  12145.074303  ...  11561.680272  11509.916667
2547  11583.837598  11579.642285  ...  11452.991870  11716.344828
2548  11583.837598  11579.642285  ...  11452.991870  11716.344828
2549  11583.837598  11579.642285  ...  11732.142857  11763.892857
2550  11503.219570  11642.300000  ...  11805.852941  11972.910008

[2551 rows x 6 columns]

In [92]:
df_mean_encoding_test.rename(columns={0:'Region', 1:'Billing_Country', 2:'Opportunity_Owner', 3:'Opportunity_Type',4:'Product_Family',5:'Product_Name'}, inplace=True)
df_mean_encoding_test

            Region  Billing_Country  ...  Product_Family  Product_Name
0     11583.837598     11579.642285  ...    11565.035806  11598.571429
1     11583.837598     11579.642285  ...    11561.680272  11509.916667
2     11583.837598     11579.642285  ...    11561.680272  11509.916667
3     11583.837598     11579.642285  ...    11528.062500  11546.858333
4     11583.837598     11579.642285  ...    11565.035806  11598.571429
...            ...              ...  ...             ...           ...
2546  11503.219570     12145.074303  ...    11561.680272  11509.916667
2547  11583.837598     11579.642285  ...    11452.991870  11716.344828
2548  11583.837598     11579.642285  ...    11452.991870  11716.344828
2549  11583.837598     11579.642285  ...    11732.142857  11763.892857
2550  11503.219570     11642.300000  ...    11805.852941  11972.910008

[2551 rows x 6 columns]

In [93]:
df_ML_test = pd.concat([df_ML_test.drop(columns=cat_cols), df_mean_encoding_test], axis=1)
df_ML_test

      años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0     2019      4    0  ...      11610.415657    11565.035806  11598.571429
1     2019      4    0  ...      11504.536007    11561.680272  11509.916667
2     2019      4    0  ...      11593.290076    11561.680272  11509.916667
3     2019      4    1  ...      11593.290076    11528.062500  11546.858333
4     2019      4    0  ...      11593.290076    11565.035806  11598.571429
...    ...    ...  ...  ...               ...             ...           ...
2546  2019      4    0  ...      11504.536007    11561.680272  11509.916667
2547  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2548  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2549  2019      4    0  ...      11647.177469    11732.142857  11763.892857
2550  2019      4    3  ...      11504.536007    11805.852941  11972.910008

[2551 rows x 12 columns]

In [94]:
pred = clf.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
pred

array([[0.26811785, 0.73188215],
       [0.26811785, 0.73188215],
       [0.26811785, 0.73188215],
       ...,
       [0.06244546, 0.93755454],
       [0.14560539, 0.8543946 ],
       [0.74674916, 0.25325087]], dtype=float32)

In [107]:
predicciones = pd.Series(pred[:,1])
resultados = pd.concat([df_ML_test['Opportunity_ID'], predicciones], axis=1).rename(columns={0: 'Target'})
resultados.head(10)

   Opportunity_ID    Target
0           10689  0.731882
1           10689  0.731882
2           10689  0.731882
3           10690  0.455937
4           10690  0.613442
5           10690  0.613442
6           10690  0.613442
7           10690  0.613442
8           10691  0.953362
9           10692  0.493150

In [98]:
res_promedio = resultados.groupby('Opportunity_ID').mean()

In [99]:
res_promedio.reset_index(inplace=True)
res_promedio

      Opportunity_ID    Target
0              10689  0.731882
1              10690  0.581941
2              10691  0.953362
3              10692  0.493150
4              10693  0.961954
...              ...       ...
1562           12364  0.854395
1563           12365  0.939258
1564           12366  0.937555
1565           12367  0.854395
1566           12368  0.253251

[1567 rows x 2 columns]

In [100]:
((res_promedio['Opportunity_ID'].value_counts()) > 1).value_counts()

False    1567
Name: Opportunity_ID, dtype: int64

In [101]:
res_promedio.drop_duplicates(subset='Opportunity_ID', inplace=True)
res_promedio

      Opportunity_ID    Target
0              10689  0.731882
1              10690  0.581941
2              10691  0.953362
3              10692  0.493150
4              10693  0.961954
...              ...       ...
1562           12364  0.854395
1563           12365  0.939258
1564           12366  0.937555
1565           12367  0.854395
1566           12368  0.253251

[1567 rows x 2 columns]

In [102]:
res_promedio.to_csv('resultsXGB.csv', index=False)