In [ ]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import datetime as datetime
import calendar

In [ ]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)

In [ ]:
from sklearn.metrics import log_loss 
from category_encoders.target_encoder import TargetEncoder

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, KFold, cross_validate
from sklearn.linear_model import RidgeClassifier, SGDClassifier, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier, BaggingClassifier, VotingClassifier, RandomTreesEmbedding
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [ ]:
from xgboost import XGBClassifier

# DATASET

In [ ]:
df_train = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_test = pd.read_csv('Test_TP2_Datos_2020-2C.csv')

In [ ]:
train = df_train[(df_train.Stage == 'Closed Won') | (df_train.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
train['Stage'] = train['Stage'].map(cambio_binario)
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'])
train['años'] = train['Opportunity_Created_Date'].dt.year
train['meses'] = train['Opportunity_Created_Date'].dt.month
train.sort_values(['años', 'meses'], ascending=True, inplace=True)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

          ID    Region    Territory  ...       Prod_Category_A  años  meses
16104  12714      EMEA       France  ...  Prod_Category_A_None  2013     11
16105  18684      APAC  Philippines  ...  Prod_Category_A_None  2014      3
16106  20675  Americas   NW America  ...  Prod_Category_A_None  2014      3
16107  20682  Americas   NW America  ...  Prod_Category_A_None  2014      3
16108  20513  Americas         None  ...  Prod_Category_A_None  2014      5
...      ...       ...          ...  ...                   ...   ...    ...
16099  22652     Japan        Japan  ...  Prod_Category_A_None  2018     12
16100  20803  Americas   NW America  ...  Prod_Category_A_None  2018     12
16101   5839  Americas   SE America  ...  Prod_Category_A_None  2018     12
16102   5845  Americas   SE America  ...  Prod_Category_A_None  2018     12
16103   5850  Americas   SE America  ...  Prod_Category_A_None  2018     12

[16883 rows x 54 columns]

In [ ]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
train['moneda'] = train['Total_Taxable_Amount_Currency']
train['moneda'] = train['moneda'].map(cambio_binario)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          ID    Region    Territory  ...  años  meses  moneda
16104  12714      EMEA       France  ...  2013     11  1.2100
16105  18684      APAC  Philippines  ...  2014      3  1.0000
16106  20675  Americas   NW America  ...  2014      3  1.0000
16107  20682  Americas   NW America  ...  2014      3  1.0000
16108  20513  Americas         None  ...  2014      5  1.0000
...      ...       ...          ...  ...   ...    ...     ...
16099  22652     Japan        Japan  ...  2018     12  0.0094
16100  20803  Americas   NW America  ...  2018     12  1.0000
16101   5839  Americas   SE America  ...  2018     12  1.0000
16102   5845  Americas   SE America  ...  2018     12  1.0000
16103   5850  Americas   SE America  ...  2018     12  1.0000

[16883 rows x 55 columns]

In [ ]:
train['Amount_converted'] = train['moneda']*train['Total_Taxable_Amount']
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID    Region    Territory  ...  meses  moneda  Amount_converted
16104  12714      EMEA       France  ...     11  1.2100      8.013679e+05
16105  18684      APAC  Philippines  ...      3  1.0000      9.803430e+06
16106  20675  Americas   NW America  ...      3  1.0000      3.418632e+05
16107  20682  Americas   NW America  ...      3  1.0000      3.418632e+05
16108  20513  Americas         None  ...      5  1.0000      3.141078e+07
...      ...       ...          ...  ...    ...     ...               ...
16099  22652     Japan        Japan  ...     12  0.0094      1.007530e+04
16100  20803  Americas   NW America  ...     12  1.0000      3.094416e+05
16101   5839  Americas   SE America  ...     12  1.0000      2.215743e+04
16102   5845  Americas   SE America  ...     12  1.0000      2.215743e+04
16103   5850  Americas   SE America  ...     12  1.0000      2.215743e+04

[16883 rows x 56 columns]

In [ ]:
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'])
train['tiempo_op_abierta']=train['Last_Modified_Date']-train['Opportunity_Created_Date']
train['tiempo_op_abierta']= train['tiempo_op_abierta'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'])
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'])
train['tiempo_entrega']=train['Planned_Delivery_End_Date']-train['Planned_Delivery_Start_Date']
train['tiempo_entrega']= train['tiempo_entrega'].dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
train['balance_terminos'] = (1+train['Pricing, Delivery_Terms_Quote_Appr'] + 1+train['Pricing, Delivery_Terms_Approved']) * (1+train['Bureaucratic_Code_0_Approval']+1+train['Bureaucratic_Code_0_Approved'])
cambio = {4 : 1, 8 : 2, 16: 3, 6: 4, 12: 5, 9: 6}
train['balance_terminos'] = train['balance_terminos'].map(cambio)
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          ID    Region  ... tiempo_entrega  balance_terminos
16104  12714      EMEA  ...            0.0                 1
16105  18684      APAC  ...           31.0                 3
16106  20675  Americas  ...           30.0                 6
16107  20682  Americas  ...           30.0                 6
16108  20513  Americas  ...           28.0                 6
...      ...       ...  ...            ...               ...
16099  22652     Japan  ...            0.0                 2
16100  20803  Americas  ...            0.0                 3
16101   5839  Americas  ...           89.0                 1
16102   5845  Americas  ...           89.0                 1
16103   5850  Americas  ...           89.0                 1

[16883 rows x 59 columns]

In [ ]:
train['cant_items']=1
aux = train.groupby('Opportunity_ID').agg({'cant_items':'sum'})
train = train.drop('cant_items',axis=1)
train = pd.merge(train, aux , how='left', on='Opportunity_ID')
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID    Region  ... balance_terminos  cant_items
0      12714      EMEA  ...                1           1
1      18684      APAC  ...                3           1
2      20675  Americas  ...                6           2
3      20682  Americas  ...                6           2
4      20513  Americas  ...                6           2
...      ...       ...  ...              ...         ...
16878  22652     Japan  ...                2           1
16879  20803  Americas  ...                3           1
16880   5839  Americas  ...                1           3
16881   5845  Americas  ...                1           3
16882   5850  Americas  ...                1           3

[16883 rows x 60 columns]

In [ ]:
df_ML_train = train[['años', 'meses', 'TRF', 'Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type', 'Stage', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta','tiempo_entrega']]
df_ML_train

       años  meses  TRF  ...      Product_Name tiempo_op_abierta tiempo_entrega
0      2013     11    2  ...  Product_Name_221              1775            0.0
1      2014      3   20  ...   Product_Name_98               859           31.0
2      2014      3    0  ...  Product_Name_310               908           30.0
3      2014      3    0  ...  Product_Name_310               908           30.0
4      2014      5    6  ...  Product_Name_287               485           28.0
...     ...    ...  ...  ...               ...               ...            ...
16878  2018     12    0  ...  Product_Name_231                 1            0.0
16879  2018     12    1  ...  Product_Name_220                 0            0.0
16880  2018     12    0  ...  Product_Name_505                 0           89.0
16881  2018     12    0  ...  Product_Name_241                 0           89.0
16882  2018     12    0  ...  Product_Name_322                 0           89.0

[16883 rows x 13 columns]

# ENCODEAR

In [ ]:
cat_cols = df_ML_train.select_dtypes(include='object').columns
cat_cols

Index(['Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type',
       'Product_Family', 'Product_Name'],
      dtype='object')

In [ ]:
df_ML_cat = df_ML_train[cat_cols]
df_ML_cat

         Region Billing_Country  ...      Product_Family      Product_Name
0          EMEA          France  ...  Product_Family_133  Product_Name_221
1          APAC         Germany  ...   Product_Family_77   Product_Name_98
2      Americas   United States  ...  Product_Family_164  Product_Name_310
3      Americas   United States  ...  Product_Family_164  Product_Name_310
4      Americas   United States  ...  Product_Family_158  Product_Name_287
...         ...             ...  ...                 ...               ...
16878     Japan           Japan  ...  Product_Family_132  Product_Name_231
16879  Americas   United States  ...  Product_Family_133  Product_Name_220
16880  Americas   United States  ...  Product_Family_240  Product_Name_505
16881  Americas   United States  ...  Product_Family_140  Product_Name_241
16882  Americas   United States  ...  Product_Family_168  Product_Name_322

[16883 rows x 6 columns]

In [ ]:
enc = TargetEncoder(cols=df_ML_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_cat,df_ML_train['Stage'])
df_mean_encoding = pd.DataFrame(enc.transform(df_ML_cat))

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [ ]:
df_mean_encoding.rename(columns={0:'Region', 1:'Billing_Country', 2:'Opportunity_Owner', 3:'Opportunity_Type',4:'Product_Family',5:'Product_Name'}, inplace=True)
df_mean_encoding

         Region  Billing_Country  ...  Product_Family  Product_Name
0      0.530258         0.280303  ...        0.735789      0.574468
1      0.583205         0.567527  ...        0.488476      0.090909
2      0.455886         0.463061  ...        0.291169      0.551724
3      0.455886         0.463061  ...        0.291169      0.551724
4      0.455886         0.463061  ...        0.303922      0.269231
...         ...              ...  ...             ...           ...
16878  0.682481         0.684308  ...        0.636842      0.748700
16879  0.455886         0.463061  ...        0.735789      0.659306
16880  0.455886         0.463061  ...        0.469388      0.469388
16881  0.455886         0.463061  ...        0.680519      0.752351
16882  0.455886         0.463061  ...        0.500000      0.589286

[16883 rows x 6 columns]

In [ ]:
df_ML_train = pd.concat([df_ML_train.drop(columns=cat_cols), df_mean_encoding], axis=1)
df_ML_train

       años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2013     11    2  ...          0.533953        0.735789      0.574468
1      2014      3   20  ...          0.211223        0.488476      0.090909
2      2014      3    0  ...          0.533953        0.291169      0.551724
3      2014      3    0  ...          0.533953        0.291169      0.551724
4      2014      5    6  ...          0.211223        0.303922      0.269231
...     ...    ...  ...  ...               ...             ...           ...
16878  2018     12    0  ...          0.533953        0.636842      0.748700
16879  2018     12    1  ...          0.684201        0.735789      0.659306
16880  2018     12    0  ...          0.684201        0.469388      0.469388
16881  2018     12    0  ...          0.684201        0.680519      0.752351
16882  2018     12    0  ...          0.684201        0.500000      0.589286

[16883 rows x 13 columns]

In [ ]:
df_ML_train = df_ML_train.dropna()
df_ML_train

       años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2013     11    2  ...          0.533953        0.735789      0.574468
1      2014      3   20  ...          0.211223        0.488476      0.090909
2      2014      3    0  ...          0.533953        0.291169      0.551724
3      2014      3    0  ...          0.533953        0.291169      0.551724
4      2014      5    6  ...          0.211223        0.303922      0.269231
...     ...    ...  ...  ...               ...             ...           ...
16878  2018     12    0  ...          0.533953        0.636842      0.748700
16879  2018     12    1  ...          0.684201        0.735789      0.659306
16880  2018     12    0  ...          0.684201        0.469388      0.469388
16881  2018     12    0  ...          0.684201        0.680519      0.752351
16882  2018     12    0  ...          0.684201        0.500000      0.589286

[16808 rows x 13 columns]

# SEPARO TEST Y TRAIN ORDENADO SEGUN FECHA

In [ ]:
df_ML_train.sort_values(['años', 'meses'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
X_train2=df_ML_train.iloc[0:13455,:]
y_train2=X_train2['Stage']
X_train2=X_train2.drop('Stage',axis=1)
X_train2

       años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0      2013     11    2  ...          0.533953        0.735789      0.574468
1      2014      3   20  ...          0.211223        0.488476      0.090909
2      2014      3    0  ...          0.533953        0.291169      0.551724
3      2014      3    0  ...          0.533953        0.291169      0.551724
4      2014      5    6  ...          0.211223        0.303922      0.269231
...     ...    ...  ...  ...               ...             ...           ...
13508  2018      3    0  ...          0.684201        0.928571      0.928571
13509  2018      3    0  ...          0.684201        0.647679      0.647679
13510  2018      3    0  ...          0.684201        0.669847      0.669847
13511  2018      3    0  ...          0.684201        0.975610      0.975610
13512  2018      3    0  ...          0.684201        0.957447      0.957447

[13455 rows x 12 columns]

In [ ]:
X_test2=df_ML_train.iloc[13455:16820,:]
y_test2=X_test2['Stage']
X_test2=X_test2.drop('Stage',axis=1)
X_test2

       años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
13513  2018      3    0  ...          0.684201        0.551102      0.717647
13514  2018      3    0  ...          0.684201        0.551102      0.717647
13515  2018      3    0  ...          0.684201        0.551102      0.717647
13516  2018      3    0  ...          0.684201        0.551102      0.717647
13517  2018      3    0  ...          0.684201        0.551102      0.717647
...     ...    ...  ...  ...               ...             ...           ...
16878  2018     12    0  ...          0.533953        0.636842      0.748700
16879  2018     12    1  ...          0.684201        0.735789      0.659306
16880  2018     12    0  ...          0.684201        0.469388      0.469388
16881  2018     12    0  ...          0.684201        0.680519      0.752351
16882  2018     12    0  ...          0.684201        0.500000      0.589286

[3353 rows x 12 columns]

In [ ]:
(y_test2 ==1).value_counts()

True     2100
False    1253
Name: Stage, dtype: int64

In [ ]:
clfs = []
seed = 3

clfs.append(("LogReg", 
             Pipeline([("Scaler", StandardScaler()),
                       ("LogReg", LogisticRegression(n_jobs=-1, random_state=42))])))



clfs.append(("XGBClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("XGB", XGBClassifier(n_estimators=200, n_jobs=-1, 
                                                               random_state=42))]))) 

clfs.append(("GradientBoostingClassifier", 
             Pipeline([("Scaler", StandardScaler()),
                       ("GradientBoosting", GradientBoostingClassifier(n_estimators=200,
                                                                       random_state=42))]))) 

#clfs.append(("RidgeClassifier", 
#            Pipeline([("Scaler", StandardScaler()),
#                       ("RidgeClassifier", RidgeClassifier(random_state=42))])))

clfs.append(("BaggingRidgeClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("BaggingClassifier", BaggingClassifier(n_jobs=-1, random_state=42))])))

clfs.append(("ExtraTreesClassifier",
             Pipeline([("Scaler", StandardScaler()),
                       ("ExtraTrees", ExtraTreesClassifier(n_jobs=-1, random_state=42))])))


scoring = 'neg_log_loss'
n_folds = 5

results, names  = [], [] 

for name, model  in clfs:
    kfold = KFold(n_splits=n_folds, random_state=seed)
    cv_results = cross_val_score(model, X_train2, y_train2, 
                                 cv= n_folds, scoring=scoring,
                                 n_jobs=-1)    
    names.append(name)
    results.append(cv_results)    
    msg = "%s: %f (+/- %f)" % (name, -cv_results.mean(),  cv_results.std())
    print(msg)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

LogReg: 0.552186 (+/- 0.114692)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

XGBClassifier: 0.918390 (+/- 0.301890)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

GradientBoostingClassifier: 0.963559 (+/- 0.335949)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

BaggingRidgeClassifier: 5.602476 (+/- 4.492545)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

ExtraTreesClassifier: 1.713831 (+/- 1.023867)

In [ ]:
parametros = {'n_estimators' : [100, 150, 200, 300, 400], 'min_samples_split' : [2,3,4]}

xg = xgb.XGBClassifier()
clf = GridSearchCV(xg, parametros)

In [ ]:
clf.fit(X = X_train2, y = y_train2)

GridSearchCV(cv=None, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=None,
             param_grid={'min_samples_split': [2, 3, 4],
                         'n_estimators': [100, 150, 200, 300, 400]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
clf.cv_results_

{'mean_fit_time': array([0.58441324, 0.85027585, 1.12512016, 1.6724546 , 2.2143683 ,
        0.57723379, 0.85157552, 1.1168129 , 1.6767355 , 2.2151722 ,
        0.57120733, 0.85195975, 1.12060738, 1.67653341, 2.21331525]),
 'mean_score_time': array([0.0114387 , 0.01625342, 0.0208292 , 0.03011942, 0.03908515,
        0.01133084, 0.01601868, 0.02058158, 0.03034291, 0.03998895,
        0.01116195, 0.01637955, 0.02087989, 0.03014483, 0.03945179]),
 'mean_test_score': array([0.60587142, 0.59033816, 0.56960238, 0.56001486, 0.55473802,
        0.60587142, 0.59033816, 0.56960238, 0.56001486, 0.55473802,
        0.60587142, 0.59033816, 0.56960238, 0.56001486, 0.55473802]),
 'param_min_samples_split': masked_array(data=[2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[100, 150, 200, 300, 400, 100, 150, 200, 300, 400, 100,
                    150, 200, 300, 400],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'min_samples_split': 2, 'n_estimators': 100},
  {'min_samples_split': 2, 'n_estimators': 150},
  {'min_samples_split': 2, 'n_estimators': 200},
  {'min_samples_split': 2, 'n_estimators': 300},
  {'min_samples_split': 2, 'n_estimators': 400},
  {'min_samples_split': 3, 'n_estimators': 100},
  {'min_samples_split': 3, 'n_estimators': 150},
  {'min_samples_split': 3, 'n_estimators': 200},
  {'min_samples_split': 3, 'n_estimators': 300},
  {'min_samples_split': 3, 'n_estimators': 400},
  {'min_samples_split': 4, 'n_estimators': 100},
  {'min_samples_split': 4, 'n_estimators': 150},
  {'min_samples_split': 4, 'n_estimators': 200},
  {'min_samples_split': 4, 'n_estimators': 300},
  {'min_samples_split': 4, 'n_estimators': 400}],
 'rank_test_score': array([ 1,  4,  7, 10, 13,  1,  4,  7, 10, 13,  1,  4,  7, 10, 13],
       dtype=int32),
 'split0_test_score': array([0.4916388 , 0.48086213, 0.48606466, 0.48420661, 0.47714604,
        0.4916388 , 0.48086213, 0.48606466, 0.48420661, 0.47714604,
        0.4916388 , 0.48086213, 0.48606466, 0.48420661, 0.47714604]),
 'split1_test_score': array([0.49907098, 0.47454478, 0.41248606, 0.3853586 , 0.37606838,
        0.49907098, 0.47454478, 0.41248606, 0.3853586 , 0.37606838,
        0.49907098, 0.47454478, 0.41248606, 0.3853586 , 0.37606838]),
 'split2_test_score': array([0.55183946, 0.53140097, 0.49832776, 0.48717949, 0.48420661,
        0.55183946, 0.53140097, 0.49832776, 0.48717949, 0.48420661,
        0.55183946, 0.53140097, 0.49832776, 0.48717949, 0.48420661]),
 'split3_test_score': array([0.71646228, 0.70457079, 0.69713861, 0.68970643, 0.68710517,
        0.71646228, 0.70457079, 0.69713861, 0.68970643, 0.68710517,
        0.71646228, 0.70457079, 0.69713861, 0.68970643, 0.68710517]),
 'split4_test_score': array([0.7703456 , 0.76031215, 0.7539948 , 0.75362319, 0.74916388,
        0.7703456 , 0.76031215, 0.7539948 , 0.75362319, 0.74916388,
        0.7703456 , 0.76031215, 0.7539948 , 0.75362319, 0.74916388]),
 'std_fit_time': array([0.01198132, 0.00691384, 0.00263092, 0.01316745, 0.0062662 ,
        0.00604024, 0.00479939, 0.00568471, 0.00550263, 0.01189065,
        0.00076816, 0.00810089, 0.00287602, 0.01220043, 0.01324517]),
 'std_score_time': array([0.00043373, 0.00040505, 0.00061995, 0.00059704, 0.00060498,
        0.00046697, 0.00061546, 0.000673  , 0.00062266, 0.00102956,
        0.00036848, 0.00035339, 0.00064627, 0.00062011, 0.00068872]),
 'std_test_score': array([0.11546166, 0.11900164, 0.1319168 , 0.13846355, 0.14017169,
        0.11546166, 0.11900164, 0.1319168 , 0.13846355, 0.14017169,
        0.11546166, 0.11900164, 0.1319168 , 0.13846355, 0.14017169])}

In [ ]:
preds3 = clf.predict_proba(X_test2)
error3 = log_loss(y_test2, preds3)
print('error: %f' %(error3))

error: 0.445230

In [ ]:
preds10 = clf.predict_proba(X_train2)
error10 = log_loss(y_train2, preds10)
print('error: %f' %(error10))

error: 0.389937

Test

In [ ]:
df_test

         ID    Region  ... Total_Taxable_Amount       Prod_Category_A
0      6140      EMEA  ...             367419.0  Prod_Category_A_None
1      6146      EMEA  ...             367419.0  Prod_Category_A_None
2      6151      EMEA  ...             367419.0  Prod_Category_A_None
3      6118      EMEA  ...             757783.5  Prod_Category_A_None
4      6124      EMEA  ...             757783.5  Prod_Category_A_None
...     ...       ...  ...                  ...                   ...
2546  16345      EMEA  ...             147750.0  Prod_Category_A_None
2547  15218  Americas  ...              45054.9  Prod_Category_A_None
2548  15224  Americas  ...             100122.0  Prod_Category_A_None
2549   7286  Americas  ...             143220.0  Prod_Category_A_None
2550  11263      EMEA  ...             871020.8  Prod_Category_A_None

[2551 rows x 51 columns]

In [ ]:
df_test['Opportunity_Created_Date'] = pd.to_datetime(df_test['Opportunity_Created_Date'])
df_test['años'] = df_test['Opportunity_Created_Date'].dt.year
df_test['meses'] = df_test['Opportunity_Created_Date'].dt.month
df_test.sort_values(['años', 'meses'], ascending=True, inplace=True)
df_test

         ID    Region   Territory  ...       Prod_Category_A  años  meses
116   17805  Americas  NW America  ...  Prod_Category_A_None  2019      1
117   20075  Americas  NE America  ...  Prod_Category_A_None  2019      1
118    7236  Americas  NE America  ...  Prod_Category_A_None  2019      1
119    7241  Americas  NE America  ...  Prod_Category_A_None  2019      1
120    7247  Americas  NE America  ...  Prod_Category_A_None  2019      1
...     ...       ...         ...  ...                   ...   ...    ...
2546  16345      EMEA         KSA  ...  Prod_Category_A_None  2019      4
2547  15218  Americas  SE America  ...  Prod_Category_A_None  2019      4
2548  15224  Americas  SE America  ...  Prod_Category_A_None  2019      4
2549   7286  Americas  NE America  ...  Prod_Category_A_None  2019      4
2550  11263      EMEA     Belgium  ...  Prod_Category_A_None  2019      4

[2551 rows x 53 columns]

In [ ]:
cambio_binario = {'AUD' : 0.77, 'EUR' : 1.21, 'GBP':1.40, 'JPY':0.0094, 'USD':1}
df_test['moneda'] = df_test['Total_Taxable_Amount_Currency']
df_test['moneda'] = df_test['moneda'].map(cambio_binario)
df_test['Amount_converted'] = df_test['moneda']*df_test['Total_Taxable_Amount']

df_test['Last_Modified_Date'] = pd.to_datetime(df_test['Last_Modified_Date'])
df_test['tiempo_op_abierta']=df_test['Last_Modified_Date']-df_test['Opportunity_Created_Date']
df_test['tiempo_op_abierta']= df_test['tiempo_op_abierta'].dt.days

df_test['Planned_Delivery_Start_Date'] = pd.to_datetime(df_test['Planned_Delivery_Start_Date'])
df_test['Planned_Delivery_End_Date'] = pd.to_datetime(df_test['Planned_Delivery_End_Date'])
df_test['tiempo_entrega']=df_test['Planned_Delivery_End_Date']-df_test['Planned_Delivery_Start_Date']
df_test['tiempo_entrega']= df_test['tiempo_entrega'].dt.days

In [ ]:
df_test['balance_terminos'] = (1+df_test['Pricing, Delivery_Terms_Quote_Appr'] + 1+df_test['Pricing, Delivery_Terms_Approved']) * (1+df_test['Bureaucratic_Code_0_Approval']+1+df_test['Bureaucratic_Code_0_Approved'])
cambio = {4 : 1, 8 : 2, 16: 3, 6: 4, 12: 5, 9: 6}
df_test['balance_terminos'] = df_test['balance_terminos'].map(cambio)

In [ ]:
df_test['cant_items']=1
aux = df_test.groupby('Opportunity_ID').agg({'cant_items':'sum'})
df_test = df_test.drop('cant_items',axis=1)
df_test = pd.merge(df_test, aux , how='left', on='Opportunity_ID')

In [ ]:
df_ML_test = df_test[['años', 'meses', 'TRF', 'Region', 'Billing_Country', 'Opportunity_Owner', 'Opportunity_Type', 'Amount_converted','Product_Family', 'Product_Name','tiempo_op_abierta', 'tiempo_entrega', 'Opportunity_ID']]
df_ML_test

      años  meses  TRF  ... tiempo_op_abierta tiempo_entrega Opportunity_ID
0     2019      1    0  ...                 1            0.0          10756
1     2019      1    0  ...                74            0.0          10757
2     2019      1    0  ...                49            0.0          10758
3     2019      1    0  ...                49            0.0          10758
4     2019      1    0  ...                49            0.0          10758
...    ...    ...  ...  ...               ...            ...            ...
2546  2019      4    0  ...                 0            9.0          12364
2547  2019      4    0  ...                 1           91.0          12365
2548  2019      4    0  ...                 1           91.0          12366
2549  2019      4    0  ...                 0            0.0          12367
2550  2019      4    3  ...                 0           53.0          12368

[2551 rows x 13 columns]

In [ ]:
df_ML_test_cat = df_ML_test[cat_cols]
df_ML_test_cat

        Region Billing_Country  ...      Product_Family      Product_Name
0     Americas   United States  ...  Product_Family_168  Product_Name_322
1     Americas   United States  ...  Product_Family_213  Product_Name_447
2     Americas   United States  ...  Product_Family_213  Product_Name_447
3     Americas   United States  ...  Product_Family_162  Product_Name_298
4     Americas   United States  ...  Product_Family_168  Product_Name_322
...        ...             ...  ...                 ...               ...
2546      EMEA    South Africa  ...  Product_Family_213  Product_Name_447
2547  Americas   United States  ...  Product_Family_221  Product_Name_477
2548  Americas   United States  ...  Product_Family_221  Product_Name_477
2549  Americas   United States  ...  Product_Family_156  Product_Name_281
2550      EMEA      Luxembourg  ...  Product_Family_171  Product_Name_331

[2551 rows x 6 columns]

In [ ]:
enc = TargetEncoder(cols=df_ML_test_cat, handle_unknown='value', return_df=False)
enc.fit(df_ML_test_cat,df_ML_test['Opportunity_ID'])
df_mean_encoding_test = pd.DataFrame(enc.transform(df_ML_test_cat))
df_mean_encoding_test

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

                 0             1  ...             4             5
0     11583.837598  11579.642285  ...  11565.035806  11598.571429
1     11583.837598  11579.642285  ...  11561.680272  11509.916667
2     11583.837598  11579.642285  ...  11561.680272  11509.916667
3     11583.837598  11579.642285  ...  11528.062500  11546.858333
4     11583.837598  11579.642285  ...  11565.035806  11598.571429
...            ...           ...  ...           ...           ...
2546  11503.219570  12145.074303  ...  11561.680272  11509.916667
2547  11583.837598  11579.642285  ...  11452.991870  11716.344828
2548  11583.837598  11579.642285  ...  11452.991870  11716.344828
2549  11583.837598  11579.642285  ...  11732.142857  11763.892857
2550  11503.219570  11642.300000  ...  11805.852941  11972.910008

[2551 rows x 6 columns]

In [ ]:
df_mean_encoding_test.rename(columns={0:'Region', 1:'Billing_Country', 2:'Opportunity_Owner', 3:'Opportunity_Type',4:'Product_Family',5:'Product_Name'}, inplace=True)
df_mean_encoding_test

            Region  Billing_Country  ...  Product_Family  Product_Name
0     11583.837598     11579.642285  ...    11565.035806  11598.571429
1     11583.837598     11579.642285  ...    11561.680272  11509.916667
2     11583.837598     11579.642285  ...    11561.680272  11509.916667
3     11583.837598     11579.642285  ...    11528.062500  11546.858333
4     11583.837598     11579.642285  ...    11565.035806  11598.571429
...            ...              ...  ...             ...           ...
2546  11503.219570     12145.074303  ...    11561.680272  11509.916667
2547  11583.837598     11579.642285  ...    11452.991870  11716.344828
2548  11583.837598     11579.642285  ...    11452.991870  11716.344828
2549  11583.837598     11579.642285  ...    11732.142857  11763.892857
2550  11503.219570     11642.300000  ...    11805.852941  11972.910008

[2551 rows x 6 columns]

In [ ]:
df_ML_test = pd.concat([df_ML_test.drop(columns=cat_cols), df_mean_encoding_test], axis=1)
df_ML_test

      años  meses  TRF  ...  Opportunity_Type  Product_Family  Product_Name
0     2019      1    0  ...      11610.415657    11565.035806  11598.571429
1     2019      1    0  ...      11504.536007    11561.680272  11509.916667
2     2019      1    0  ...      11593.290076    11561.680272  11509.916667
3     2019      1    0  ...      11593.290076    11528.062500  11546.858333
4     2019      1    0  ...      11593.290076    11565.035806  11598.571429
...    ...    ...  ...  ...               ...             ...           ...
2546  2019      4    0  ...      11504.536007    11561.680272  11509.916667
2547  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2548  2019      4    0  ...      11504.536007    11452.991870  11716.344828
2549  2019      4    0  ...      11647.177469    11732.142857  11763.892857
2550  2019      4    3  ...      11504.536007    11805.852941  11972.910008

[2551 rows x 13 columns]

In [ ]:
pred = clf.predict_proba(df_ML_test.drop(columns='Opportunity_ID'))
pred

array([[0.00204301, 0.997957  ],
       [0.00755203, 0.992448  ],
       [0.00513607, 0.9948639 ],
       ...,
       [0.00271428, 0.9972857 ],
       [0.00173873, 0.9982613 ],
       [0.00304937, 0.9969506 ]], dtype=float32)

In [ ]:
predicciones = pd.Series(pred[:,1])
resultados = pd.concat([df_ML_test['Opportunity_ID'], predicciones], axis=1).rename(columns={0: 'Target'})
resultados.head(10)

   Opportunity_ID    Target
0           10756  0.997957
1           10757  0.992448
2           10758  0.994864
3           10758  0.994864
4           10758  0.994864
5           10758  0.994864
6           10758  0.994864
7           10758  0.994864
8           10758  0.994864
9           10758  0.994864

In [ ]:
res_promedio = resultados.groupby('Opportunity_ID').mean()

In [ ]:
res_promedio.reset_index(inplace=True)
res_promedio.tail(30)

      Opportunity_ID    Target
1537           12339  0.996495
1538           12340  0.997747
1539           12341  0.997747
1540           12342  0.997747
1541           12343  0.998383
1542           12344  0.998337
1543           12345  0.998088
1544           12346  0.998088
1545           12347  0.997754
1546           12348  0.998088
1547           12349  0.998088
1548           12350  0.998088
1549           12351  0.997754
1550           12352  0.998383
1551           12353  0.997052
1552           12354  0.996815
1553           12355  0.997754
1554           12356  0.997953
1555           12357  0.997006
1556           12358  0.998261
1557           12359  0.997221
1558           12360  0.998337
1559           12361  0.998337
1560           12362  0.998154
1561           12363  0.997723
1562           12364  0.998261
1563           12365  0.997286
1564           12366  0.997286
1565           12367  0.998261
1566           12368  0.996951

In [ ]:
((res_promedio['Opportunity_ID'].value_counts()) > 1).value_counts()

False    1567
Name: Opportunity_ID, dtype: int64

In [ ]:
res_promedio.drop_duplicates(subset='Opportunity_ID', inplace=True)
res_promedio

      Opportunity_ID    Target
0              10689  0.996815
1              10690  0.996257
2              10691  0.998337
3              10692  0.997754
4              10693  0.998383
...              ...       ...
1562           12364  0.998261
1563           12365  0.997286
1564           12366  0.997286
1565           12367  0.998261
1566           12368  0.996951

[1567 rows x 2 columns]

In [ ]:
res_promedio.to_csv('resultsBO_n.csv', index=False)

In [ ]:
(res_promedio['Target']>0.9).value_counts()

True    1567
Name: Target, dtype: int64

In [ ]:
df_train

          ID    Region  ...        Stage       Prod_Category_A
0      27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1      27760      EMEA  ...   Closed Won  Prod_Category_A_None
2      27446  Americas  ...   Closed Won  Prod_Category_A_None
3      16808  Americas  ...  Closed Lost  Prod_Category_A_None
4      16805  Americas  ...  Closed Lost  Prod_Category_A_None
...      ...       ...  ...          ...                   ...
16942   8781      EMEA  ...   Closed Won  Prod_Category_A_None
16943   8786      EMEA  ...   Closed Won  Prod_Category_A_None
16944   8792      EMEA  ...   Closed Won  Prod_Category_A_None
16945  28561  Americas  ...  Closed Lost  Prod_Category_A_None
16946  28318  Americas  ...  Closed Lost  Prod_Category_A_None

[16947 rows x 52 columns]

In [ ]:
df_train2 = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_train2 = df_train2[(df_train2.Stage == 'Closed Won') | (df_train2.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
df_train2['Stage'] = df_train2['Stage'].map(cambio_binario)
df_train2

          ID    Region  ... Stage       Prod_Category_A
0      27761      EMEA  ...     0  Prod_Category_A_None
1      27760      EMEA  ...     1  Prod_Category_A_None
2      27446  Americas  ...     1  Prod_Category_A_None
3      16808  Americas  ...     0  Prod_Category_A_None
4      16805  Americas  ...     0  Prod_Category_A_None
...      ...       ...  ...   ...                   ...
16942   8781      EMEA  ...     1  Prod_Category_A_None
16943   8786      EMEA  ...     1  Prod_Category_A_None
16944   8792      EMEA  ...     1  Prod_Category_A_None
16945  28561  Americas  ...     0  Prod_Category_A_None
16946  28318  Americas  ...     0  Prod_Category_A_None

[16883 rows x 52 columns]

In [ ]:
dt=df_train2.groupby('Opportunity_ID').agg({'Pricing, Delivery_Terms_Quote_Appr':'max', 'Pricing, Delivery_Terms_Approved':'max','Stage':'max'})
dt

                Pricing, Delivery_Terms_Quote_Appr  ...  Stage
Opportunity_ID                                      ...
0                                                1  ...      0
1                                                0  ...      1
2                                                0  ...      1
3                                                1  ...      0
4                                                1  ...      0
...                                            ...  ...    ...
12799                                            1  ...      1
12800                                            1  ...      0
12801                                            1  ...      1
12802                                            1  ...      0
12803                                            1  ...      0

[9791 rows x 3 columns]

In [ ]:
bc=df_train2.groupby('Opportunity_ID').agg({'Bureaucratic_Code_0_Approval':'max', 'Bureaucratic_Code_0_Approved':'max','Stage':'max'})
bc

                Bureaucratic_Code_0_Approval  ...  Stage
Opportunity_ID                                ...
0                                          1  ...      0
1                                          0  ...      1
2                                          0  ...      1
3                                          1  ...      0
4                                          1  ...      0
...                                      ...  ...    ...
12799                                      0  ...      1
12800                                      0  ...      0
12801                                      1  ...      1
12802                                      1  ...      0
12803                                      1  ...      0

[9791 rows x 3 columns]

In [ ]:
(df_train['Submitted_for_Approval']==0).value_counts()

True    16947
Name: Submitted_for_Approval, dtype: int64

In [ ]:
bin=df_train2.groupby('Opportunity_ID').agg({'Pricing, Delivery_Terms_Quote_Appr':'max', 'Pricing, Delivery_Terms_Approved':'max','Bureaucratic_Code_0_Approval':'max', 'Bureaucratic_Code_0_Approved':'max','Stage':'max'})
bin

                Pricing, Delivery_Terms_Quote_Appr  ...  Stage
Opportunity_ID                                      ...
0                                                1  ...      0
1                                                0  ...      1
2                                                0  ...      1
3                                                1  ...      0
4                                                1  ...      0
...                                            ...  ...    ...
12799                                            1  ...      1
12800                                            1  ...      0
12801                                            1  ...      1
12802                                            1  ...      0
12803                                            1  ...      0

[9791 rows x 5 columns]

In [ ]:
df_train2 = pd.read_csv('Train_TP2_Datos_2020-2C.csv')
df_train2 = df_train2[(df_train2.Stage == 'Closed Won') | (df_train2.Stage == 'Closed Lost')]
cambio_binario = {'Closed Lost' : 0, 'Closed Won' : 1}
df_train2['Stage'] = df_train2['Stage'].map(cambio_binario)
df_train2

          ID    Region  ... Stage       Prod_Category_A
0      27761      EMEA  ...     0  Prod_Category_A_None
1      27760      EMEA  ...     1  Prod_Category_A_None
2      27446  Americas  ...     1  Prod_Category_A_None
3      16808  Americas  ...     0  Prod_Category_A_None
4      16805  Americas  ...     0  Prod_Category_A_None
...      ...       ...  ...   ...                   ...
16942   8781      EMEA  ...     1  Prod_Category_A_None
16943   8786      EMEA  ...     1  Prod_Category_A_None
16944   8792      EMEA  ...     1  Prod_Category_A_None
16945  28561  Americas  ...     0  Prod_Category_A_None
16946  28318  Americas  ...     0  Prod_Category_A_None

[16883 rows x 52 columns]

In [ ]:
df_train2['unos']=1
hola=df_train2.groupby('Opportunity_ID').agg({'unos':'sum'})
df_train2=df_train2.drop('unos',axis=1)
df_train2=pd.merge(df_train2,hola,how='left', on='Opportunity_ID')
df_train2['col']=1
df_train2
df_train2.groupby('unos').agg({'col':'sum'})

       col
unos
1     6882
2     3170
3     1128
4      772
5     1285
6     1608
7      721
8      472
9      180
10     180
11      55
12      60
13      52
14      56
16      96
18      18
24      24
26      52
36      72